<header class="sheet-header img-name">
	<img src="{{source.img}}" data-action="editImage" data-edit="img" alt="{{localize fields.img.label}}">

	{{formInput fields.name value=source.name id=(concat rootId "-" source.schema.name.fieldPath)}}

	<div class="rank">
		<div>
			{{localize "CHARACTER.rank" rank=system.rank}}
		</div>

		<img class="race-img"
			 src="{{system.race.art}}"
			 alt="{{localize system.race.name}}"
			 data-tooltip="{{localize system.race.name}}" />

		<img class="origin-img"
			 src="{{system.originData.art}}"
			 alt="{{localize system.originData.name}}"
			 data-tooltip="{{localize system.originData.name}}" />
	</div>

	<div class="form-group slim stacked experience">
		<label for="{{concat rootId "-" system.schema.fields.experience.fields.total.fieldPath}}">
			{{localize "CHARACTER.FIELDS.experience.label"}}
		</label>

		<div class="form-fields">
			<span>{{system.experience.current}}</span>
			/
			{{formInput system.schema.fields.experience.fields.total
						value=system.experience.total
						id=(concat rootId "-" system.schema.fields.experience.fields.total.fieldPath)}}
		</div>
	</div>
</header>