<form class="chat-form">
	{{!-- Jump to Bottom --}}
	<button type="button" class="ui-control icon fa-solid fa-arrow-down jump-to-bottom" data-tooltip
			aria-label="{{ localize "CHAT.JumpToBottom" }}" data-action="jumpToBottom"
			{{#if isAtBottom}}hidden{{/if}}></button>

	<div class="chat-controls">
		{{!-- Control Buttons --}}
		<div class="control-buttons">
			<button type="button" class="ui-control" data-tooltip
					aria-label="{{ localize "ROLL.NAMES.freeCheck" }}" data-action="rollFreeCheck">
				<img src="systems/wfrp3e/assets/icons/dice/characteristic_onesuccess.webp"
					 alt="{{localize 'ROLL.NAMES.freeCheck'}}"/>
			</button>

			{{#if user.isGM}}
				<button type="button" class="ui-control icon fa-solid fa-floppy-disk" data-tooltip
						aria-label="{{ localize "CHAT.Export" }}" data-action="export"></button>
				<button type="button" class="ui-control icon fa-solid fa-trash" data-tooltip
						aria-label="{{ localize "CHAT.Clear" }}" data-action="flush"></button>
			{{/if}}
		</div>
	</div>

</form>
