<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	<div class="illustration">
		<img src="{{source.img}}"
			 data-action="editImage"
			 data-edit="img"
			 alt="{{localize fields.img.label}}"
			 height="250" />
	</div>

	<div class="name">
		{{formInput document.schema.fields.name
					value=source.name
					id=(concat rootId "-" document.schema.fields.name.fieldPath)}}
	</div>

	{{#each system.specialAbilities as |specialAbility spAb|}}
		{{>systems/wfrp3e/templates/applications/sheets/actors/partials/ability-track.hbs
				specialAbility=specialAbility
				index=spAb
				fields=@root.fields.specialAbilities.element.fields}}

		{{>systems/wfrp3e/templates/applications/sheets/actors/partials/special-ability.hbs
				specialAbility=specialAbility
				index=spAb
				fields=@root.fields.specialAbilities.element.fields}}
	{{/each}}

	<footer class="sockets">
		<h4>
			{{localize "GROUP.FIELDS.sockets.label"}}

			<a data-action="addSocket" data-tooltip="{{localize 'GROUP.ACTIONS.addSocket'}}">
				<span class="fas fa-plus"></span>
			</a>
		</h4>

		{{#if (superiorTo system.sockets.length 0)}}
			<div class="flexrow">
				{{#each system.sockets as |socket|}}
					<fieldset class="socket inline" data-index="{{@index}}">
						{{formGroup @root.fields.sockets.element.fields.type
									value=socket.type
									name=@root.fields.sockets.element.fields.type.fieldPath
									classes="expanded"
									rootId=@root.rootId
									localize=true}}

						<a data-action="deleteSocket" data-tooltip="{{localize 'GROUP.ACTIONS.deleteSocket'}}">
							<span class="fas fa-trash"></span>
						</a>
					</fieldset>
				{{/each}}
			</div>
		{{/if}}
	</footer>
</section>