<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.traits value=system.traits rootId=rootId}}

	{{formGroup fields.severityRating value=system.severityRating rootId=rootId}}

	{{formGroup fields.description value=system.description rootId=rootId}}
</section>