<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.type value=system.type rootId=rootId localize=true}}

	{{formGroup fields.rechargeTokens value=system.rechargeTokens rootId=rootId}}

	{{formGroup fields.description value=system.description rootId=rootId}}
</section>