<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.type value=system.type localize=true}}

	{{formGroup fields.script
				value=system.script
				localize=true
				rows=9}}
</section>