<form class="{{cssClass}}" autocomplete="off">
	<header class="character-sheet-header sheet-header">
		<img class="actor-img" src="{{actor.img}}" alt="{{actor.name}}" data-edit="img" />

		<label class="name">
			<input class="name-input" name="name" value="{{actor.name}}" type="text" placeholder="{{localize 'Name'}}" />
		</label>

		<label class="origin">
			<span class="character-sheet-title">{{localize "CHARACTER.Origin"}}</span>

			<select name="system.origin">
				{{selectOptions origins selected=actor.system.origin labelAttr="name" localize=true}}
			</select>
		</label>

		<label class="experience">
			<span class="character-sheet-title">{{localize "CHARACTER.Experience"}}</span>

			<div class="input-container">
				<span data-tooltip="{{localize 'CHARACTER.CurrentExperience'}}">{{actor.system.experience.current}}</span>
				/
				<input name="system.experience.total"
				       value="{{actor.system.experience.total}}"
				       type="number"
				       data-tooltip="{{localize 'CHARACTER.TotalExperience'}}" />
			</div>
		</label>
	</header>

	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="characteristics-tab-link" data-tab="characteristics">{{localize "CHARACTER.Attributes"}}</a>

		{{#if items.careers}}
			<a class="careers-tab-link" data-tab="careers">{{localize "CHARACTER.Careers"}}</a>
		{{/if}}

		{{#if items.talents}}
			<a class="talents-tab-link" data-tab="talents">{{localize "CHARACTER.Talents"}}</a>
		{{/if}}

		{{#if items.actions}}
			<a class="actions-tab-link" data-tab="actions">{{localize "CHARACTER.Actions"}}</a>
		{{/if}}

		{{#if hasAbility}}
			<a class="abilities-tab-link" data-tab="abilities">{{localize "CHARACTER.Abilities"}}</a>
		{{/if}}

		{{#if items.actions}}
			<a class="trappings-tab-link" data-tab="trappings">{{localize "CHARACTER.Trappings"}}</a>
		{{/if}}

		<a class="background-tab-link" data-tab="background">{{localize "CHARACTER.Background"}}</a>
	</nav>

	<div class="character-sheet-body sheet-body">
		<section class="characteristics-tab tab" data-group="primary" data-tab="characteristics">
			<div class="characteristics-and-impairments">
				<h3 class="character-sheet-title">{{localize "CHARACTER.Characteristics"}}</h3>

				<div class="characteristics-and-impairments-subdivision">
					<div class="impairments">
						{{>systems/wfrp3e/templates/partials/impairment-partial.hbs
								impairment="fatigue"
								tokenPath="systems/wfrp3e/assets/images/token-red.webp"}}

						{{>systems/wfrp3e/templates/partials/impairment-partial.hbs
								impairment="stress"
								tokenPath="systems/wfrp3e/assets/images/token-blue.webp"}}
					</div>

					<div class="characteristics">
						{{#each actor.system.characteristics as |characteristic char|}}
							{{>systems/wfrp3e/templates/partials/characteristic-partial.hbs characteristic=characteristic char=char}}
						{{/each}}
					</div>
				</div>
			</div>

			<div class="skills">
				<h3 class="character-sheet-title">{{localize "CHARACTER.Skills"}}</h3>

				{{#if items.skills}}
					<div class="skill table">
						<div class="skill table-header">
							<span class="skill-name">{{localize "SKILL.Name"}}</span>

							<span class="skill-characteristic">{{localize "SKILL.ABBREVIATION.Characteristic"}}</span>

							<span class="skill-training-level">{{localize "SKILL.TrainingLevel"}}</span>

							<span class="buttons"></span>
						</div>

						<div class="skill table-body">
							{{#each items.skills as |skill sk|}}
								{{>systems/wfrp3e/templates/partials/item-skill-row.hbs skill=skill}}
							{{/each}}
						</div>
					</div>
				{{else}}
					<p>{{{localize "CHARACTER.SHEET.NoSkill" actor=actor.name}}}</p>
					<button class="basic-skills-adding">{{localize "CHARACTER.SHEET.AddBasicSkills"}}</button>
				{{/if}}
			</div>

			<div class="attributes">
				<div class="attributes-subdivision">
					{{>systems/wfrp3e/templates/partials/attribute-partial.hbs
							class="wounds"
							max=actor.system.wounds.max
							maxDataPath="system.wounds.max"
							maxTitle="CHARACTER.Threshold"
							value=actor.system.wounds.value
							valueDataPath="system.wounds.value"
							title="CHARACTER.Wounds"}}

					{{>systems/wfrp3e/templates/partials/attribute-partial.hbs
							class="corruption"
							max=actor.system.corruption.max
							maxDataPath="system.corruption.max"
							maxTitle="CHARACTER.Threshold"
							value=actor.system.corruption.value
							valueDataPath="system.corruption.value"
							title="CHARACTER.Corruption"}}

					{{>systems/wfrp3e/templates/partials/attribute-partial.hbs
							class="fortune"
							max=actor.system.fortune.max
							maxDataPath="system.fortune.max"
							maxTitle="CHARACTER.Maximum"
							value=actor.system.fortune.value
							valueDataPath="system.fortune.value"
							title="CHARACTER.Fortune"}}
				</div>

				<div class="stance-meter">
					<h3 class="character-sheet-title">
						<a class="stance-meter-segment stance-meter-link"
						   data-stance="conservative"
						   data-tooltip="{{localize 'CHARACTER.SHEET.AddRemoveConservativeSegment'}}">
							<img class="stance-conservative"
							     src="systems/wfrp3e/assets/images/stance-conservative.webp"
							     height="27" />
						</a>

						{{localize "CHARACTER.Stances"}}

						<a class="stance-meter-segment stance-meter-link"
						   data-stance="reckless"
						   data-tooltip="{{localize 'CHARACTER.SHEET.AddRemoveRecklessSegment'}}">
							<img class="stance-conservative"
							     src="systems/wfrp3e/assets/images/stance-reckless.webp"
							     height="27" />
						</a>
					</h3>

					<div class="stance-meter-segment-container">
						{{#for actor.system.stanceMeter.conservative (increment actor.system.stanceMeter.reckless 1) 1}}
							<label class="stance-meter-segment{{#if (equalTo @root.actor.system.stance.current this)}} active{{/if}}">
								<img class="stance-{{#if (inferiorTo this 0)}}conservative{{else if (superiorTo this 0)}}reckless{{else}}neutral{{/if}}"
									 src="systems/wfrp3e/assets/images/stance-{{#if (inferiorTo this 0)}}conservative{{else if (superiorTo this 0)}}reckless{{else}}neutral{{/if}}.webp" height="27" />

								<input name="system.stance.current"
								       value="{{this}}"
								       type="radio"
									{{#if (equalTo @root.actor.system.stance.current this)}}checked{{/if}}/>
							</label>
						{{/for}}
					</div>
				</div>

				<div class="attributes-subdivision">
					{{>systems/wfrp3e/templates/partials/attribute-partial.hbs
							class="favour"
							value=actor.system.favour
							valueDataPath="system.favour"
							title="CHARACTER.Favour"}}

					{{>systems/wfrp3e/templates/partials/attribute-partial.hbs
							class="power"
							value=actor.system.power
							valueDataPath="system.corruption"
							title="CHARACTER.Power"}}
				</div>
			</div>
		</section>

		<section class="careers-tab tab" data-group="primary" data-tab="careers">
			<div class="character-sheet-career-tabs sheet-tabs" data-group="careers">
				{{#each items.careers as |career|}}
					<a data-tab="{{career._id}}">
						{{career.name}}

						{{#if career.system.current}}
							&nbsp;<span class="fa fa-check"></span>
						{{/if}}
					</a>
				{{/each}}
			</div>

			<div class="character-sheet-careers tab-content">
				{{#each items.careers as |career|}}
					<div class="career-container tab item-container" data-group="careers" data-tab="{{career._id}}">
						{{>systems/wfrp3e/templates/partials/item-career-partial.hbs career=career}}
					</div>
				{{/each}}
			</div>
		</section>

		<section class="talents-tab tab" data-group="primary" data-tab="talents">
			<div class="character-sheet-talent-tabs sheet-tabs" data-group="talents">
				{{#each talentTypes as |type ty|}}
					{{#if (lookup @root.items.talents ty)}}
						<a class="{{ty}}" data-tab="{{ty}}">{{localize type}}</a>
					{{/if}}
				{{/each}}
			</div>

			<div class="character-sheet-talents tab-content">
				{{#each talentTypes as |type ty|}}
					{{#if (lookup @root.items.talents ty)}}
						<div class="talent-container item-container tab {{ty}}" data-group="talents" data-tab="{{ty}}">
							{{#each (lookup @root.items.talents ty) as |talent ta|}}
								<label>
									{{>systems/wfrp3e/templates/partials/item-talent-card.hbs talent=talent}}

									<select class="sheet-form-select item-input talent-card-socket-select"
									        data-item-id="{{talent._id}}"
									        data-path="system.talentSocket">
										{{selectOptions
												(lookup @root.talentSocketsByType talent.system.type)
												selected=talent.system.talentSocket
												blank=(localize "TALENT.NoSocket")}}
									</select>
								</label>
							{{/each}}
						</div>
					{{/if}}
				{{/each}}
			</div>
		</section>

		{{>systems/wfrp3e/templates/partials/action-tab.hbs}}
		{{#if hasAbility}}
			{{>systems/wfrp3e/templates/partials/ability-tab.hbs}}
		{{/if}}
		{{>systems/wfrp3e/templates/partials/trapping-tab.hbs}}

		<section class="tab background-tab" data-group="primary" data-tab="background">
			<div class="editor-container">
				{{editor actor.system.background.biography target="system.background.biography" button=true owner=owner editable=editable}}
			</div>
		</section>
	</div>
</form>