<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<input class="threat-rating"
		       name="system.threatRating"
		       type="number" value="{{actor.system.threatRating}}"
		       placeholder="{{localize 'CREATURE.ThreatRating'}}" />

		<h1 class="name">
			<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CREATURE.Name'}}"/>
		</h1>

		<div class="wounds">
			<input name="system.wounds.value"
			       type="number" value="{{actor.system.wounds.value}}"
			       placeholder="{{localize 'CREATURE.WoundsValue'}}" />
			<hr />
			<input name="system.wounds.max"
			       type="number" value="{{actor.system.wounds.max}}"
			       placeholder="{{localize 'CREATURE.WoundsThreshold'}}" />
		</div>
	</header>

	<input class="category"
	       name="system.category"
	       type="text" value="{{actor.system.category}}"
	       placeholder="{{localize 'CREATURE.Category'}}" />

	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="tab-link main-tab-link" data-tab="main">{{localize 'Main'}}</a>
		{{#if items.actions}}
			<a class="tab-link actions-tab-link" data-tab="actions">{{localize 'CREATURE.Actions'}}</a>
		{{/if}}
		{{#if hasAbility}}
			<a class="tab-link abilities-tab-link" data-tab="abilities">{{localize "CREATURE.Abilities"}}</a>
		{{/if}}
		{{#if hasTrapping}}
			<a class="tab-link trappings-tab-link" data-tab="trappings">{{localize "CREATURE.Trappings"}}</a>
		{{/if}}
		<a class="tab-link details-tab-link" data-tab="details">{{localize 'CREATURE.Details'}}</a>
	</nav>

	<div class="sheet-body">
		<section class="main-tab tab" data-group="primary" data-tab="main">
			<div class="main-infos">
				<div class="characteristics">
					{{#each actor.system.characteristics as |characteristic char|}}
						{{#with (lookup @root.characteristics char) as |charac|}}
							<div class="characteristic">
								<a class="characteristic-title"
								   data-tooltip="{{localize charac.name}}"
								   data-characteristic="{{char}}">
									{{localize charac.abbreviation}}
								</a>

								<input class="characteristic-rating-input"
								       name="system.characteristics.{{char}}.rating"
								       value="{{characteristic.rating}}"
								       type="number"
								       placeholder="{{localize charac.abbreviation}}" />

								<input class="characteristic-fortune-input"
								       name="system.characteristics.{{char}}.fortune"
								       type="number"
								       value="{{characteristic.fortune}}"
								       placeholder="{{localize 'CHARACTER.Fortune'}}" />
							</div>
						{{/with}}
					{{/each}}
				</div>

				<div class="image">
					<img src="{{actor.img}}" alt="{{actor.name}}" data-edit="img" />
				</div>

				<div class="ratings">
					<div class="rating-container damage-rating">
						<img class="damage-rating-icon"
						     src="systems/wfrp3e/assets/images/damage-rating.webp"
						     data-tooltip="{{localize 'CREATURE.DamageRating'}}"
						     alt="{{localize 'CREATURE.ABBREVIATION.DamageRating'}}"/>

						<input class="damage-rating-input"
						       name="system.damageRating"
						       value="{{actor.system.damageRating}}"
						       type="number"
						       placeholder="{{localize 'CREATURE.ABBREVIATION.DamageRating'}}" />
					</div>

					<div class="rating-container soak-value">
						<img class="soak-value-icon"
						     src="systems/wfrp3e/assets/images/soak-value.webp"
						     data-tooltip="{{localize 'CREATURE.SoakValue'}}"
						     alt="{{localize 'CREATURE.ABBREVIATION.SoakValue'}}"/>

						<input class="soak-value-input"
						       name="system.soakValue"
						       value="{{actor.system.soakValue}}"
						       type="number"
						       placeholder="{{localize 'CREATURE.ABBREVIATION.SoakValue'}}" />
					</div>

					<div class="rating-container defence-value">
						<img class="defence-value-icon"
						     src="systems/wfrp3e/assets/images/defence-value.webp"
						     data-tooltip="{{localize 'CREATURE.DefenceValue'}}"
						     alt="{{localize 'CREATURE.ABBREVIATION.DefenceValue'}}"/>

						<input class="defence-value-input"
						       name="system.defenceValue"
						       value="{{actor.system.defenceValue}}"
						       type="number"
						       placeholder="{{localize 'CREATURE.ABBREVIATION.DefenceValue'}}" />
					</div>

                    {{#if actor.system.nemesis}}
						{{>systems/wfrp3e/templates/partials/impairment-partial.hbs
								impairment="fatigue"
								tokenPath="systems/wfrp3e/assets/images/token-red.webp"}}

						{{>systems/wfrp3e/templates/partials/impairment-partial.hbs
								impairment="stress"
								tokenPath="systems/wfrp3e/assets/images/token-blue.webp"}}
					{{/if}}
				</div>
			</div>

			{{#if actor.system.nemesis}}
				<div class="stance-meter">
					<div class="stance-meter-segment-container">
                        <a class="stance-meter-segment stance-meter-link"
                           data-stance="conservative"
                           data-tooltip="{{localize 'CHARACTER.SHEET.AddRemoveConservativeSegment'}}">
                            <img class="stance-conservative"
                                 src="systems/wfrp3e/assets/images/stance-conservative.webp"
                                 height="27" />
                        </a>

						{{#for actor.system.stanceMeter.conservative (increment actor.system.stanceMeter.reckless 1) 1}}
							<label class="stance-meter-segment{{#if (equalTo @root.actor.system.stance.current this)}} active{{/if}}">
								<img class="stance-{{#if (inferiorTo this 0)}}conservative{{else if (superiorTo this 0)}}reckless{{else}}neutral{{/if}}"
								     src="systems/wfrp3e/assets/images/stance-{{#if (inferiorTo this 0)}}conservative{{else if (superiorTo this 0)}}reckless{{else}}neutral{{/if}}.webp" height="27" />

								<input name="system.stance.current"
								       value="{{this}}"
								       type="radio"
								       {{#if (equalTo @root.actor.system.stance.current this)}}checked{{/if}}/>
							</label>
						{{/for}}

                        <a class="stance-meter-segment stance-meter-link"
                           data-stance="reckless"
                           data-tooltip="{{localize 'CHARACTER.SHEET.AddRemoveRecklessSegment'}}">
                            <img class="stance-conservative"
                                 src="systems/wfrp3e/assets/images/stance-reckless.webp"
                                 height="27" />
                        </a>
					</div>
				</div>
			{{/if}}

			<div class="secondary-infos">
				{{#unless actor.system.nemesis}}
					<a class="stance {{actor.system.defaultStance}}" data-tooltip="{{localize 'CREATURE.Stance'}}">
						{{#if (inferiorTo actor.system.stance.current 0)}}
							C{{abs actor.system.stance.current}}
						{{else}}
							{{#if (superiorTo actor.system.stance.current 0)}}
								R{{actor.system.stance.current}}
							{{else}}
								N/A
							{{/if}}
						{{/if}}
					</a>
				{{/unless}}

				<div class="special-rule-summary editor-container">
					{{editor actor.system.specialRuleSummary target="system.specialRuleSummary" button=true owner=owner editable=editable}}
				</div>
			</div>

			<div class="attributes">
				{{#each actor.system.attributes as |attribute attr|}}
					{{#with (lookup @root.attributes attr)}}
						<div class="attribute {{attr}}">
							<span class="attribute-title">{{localize this.name}}</span>

							<div class="attribute-input-container">
								<input class="attribute-budget-input"
								       name="system.attributes.{{attr}}.value"
								       value="{{attribute.value}}"
								       type="number"
								       placeholder="{{localize 'CREATURE.Current'}}"  />

								<span>/</span>

								<input class="attribute-budget-input"
								       name="system.attributes.{{attr}}.max"
								       value="{{attribute.max}}"
								       type="number"
								       placeholder="{{localize this.abbreviation}}"  />
							</div>
						</div>
					{{/with}}
				{{/each}}
			</div>
		</section>

		{{#if items.actions}}
			{{>systems/wfrp3e/templates/partials/action-tab.hbs}}
		{{/if}}
		{{#if hasAbility}}
			{{>systems/wfrp3e/templates/partials/ability-tab.hbs}}
		{{/if}}
		{{#if hasTrapping}}
			{{>systems/wfrp3e/templates/partials/trapping-tab.hbs}}
		{{/if}}

		<section class="detail-tab tab" data-group="primary" data-tab="details">
			<div class="editor-container">
				{{editor actor.system.description target="system.description" button=true owner=owner editable=editable}}
			</div>
		</section>
	</div>
</form>