<form class="{{cssClass}}" autocomplete="off">
	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="main-tab-link" data-tab="main">{{localize 'Main'}}</a>
		<a class="talents-tab-link" data-tab="talents">{{localize 'GROUP.Talents'}}</a>
	</nav>

	<div class="sheet-body">
		<section class="tab main-tab" data-group="primary" data-tab="main">
			<div class="ability-track" data-special-ability-index="0">
				<div class="ability-track-segment-container">
					{{#each actor.system.specialAbilities.0.values}}
						<label class="ability-track-segment{{#if this.trigger}} trigger{{/if}}">
							{{#if (equalTo @root.actor.system.specialAbilities.0.current @index)}}
								<img src="systems/wfrp3e/assets/images/token-black.webp" />
							{{else}}
								{{{this.content}}}
							{{/if}}

							<input name="system.specialAbilities.0.current"
							       value="{{@index}}"
							       type="radio"
								{{#if (equalTo @root.actor.system.specialAbilities.0.current @index)}} checked{{/if}} />
						</label>
					{{/each}}

					{{#if document.isOwner}}
						<a class="ability-track-edit" data-tooltip="{{localize 'GROUP.SPECIALABILITY.Edit'}}">
							<span class="fas fa-edit"></span>
						</a>
					{{/if}}
				</div>

				<div class="ability-track-editor">
					<div>
						<a class="ability-track-editor-minus" data-tooltip="{{localize 'GROUP.SPECIALABILITY.Decrease'}}">
							<span class="fas fa-minus"></span>
						</a>

						<div class="ability-track-editor-segment-container">
							{{#each actor.system.specialAbilities.0.values}}
								{{>systems/wfrp3e/templates/partials/ability-track-editor-segment.hbs
										value=this
										index=@index
										specialAbilityIndex=0}}
							{{/each}}
						</div>

						<a class="ability-track-editor-plus" data-tooltip="{{localize 'GROUP.SPECIALABILITY.Increase'}}">
							<span class="fas fa-plus"></span>
						</a>

						<button class="ability-track-editor-submit" type="submit" data-tooltip="{{localize 'Confirm'}}">
							<span class="fas fa-check"></span>
						</button>
					</div>

					<div>{{localize 'GROUP.SPECIALABILITY.Trigger'}}</div>
				</div>
			</div>

			<div class="middle">
				<div class="portrait">
					<img src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}" height="250"/>
				</div>

				<div class="center">
					<div class="special-ability">
						<input class="special-ability-title"
						       name="system.specialAbilities.0.title"
						       value="{{actor.system.specialAbilities.0.title}}"
						       type="text"
						       placeholder="{{localize 'GROUP.SPECIALABILITY.Title'}}"
						       data-tooltip="{{localize 'GROUP.SPECIALABILITY.Title'}}" />

						<div class="special-ability-description editor-container">
							{{editor actor.system.specialAbilities.0.description
									 target="system.specialAbilities.0.description"
									 button=true
									 owner=owner
									 editable=editable}}

							<input name="system.specialAbilities.0.description"
							       value="{{actor.system.specialAbilities.0.description}}"
							       type="text"
							       placeholder="{{localize 'GROUP.SPECIALABILITY.Description'}}" />
						</div>
					</div>

					<h1 class="name">
						<input name="name" value="{{actor.name}}" type="text" placeholder="{{localize 'GROUP.Name'}}"/>
					</h1>

					<div class="special-ability">
						<input class="special-ability-title"
						       name="system.specialAbilities.1.title"
						       value="{{actor.system.specialAbilities.1.title}}"
						       type="text"
						       placeholder="{{localize 'GROUP.SPECIALABILITY.Title'}}"
						       data-tooltip="{{localize 'GROUP.SPECIALABILITY.Title'}}" />

						<div class="special-ability-description editor-container">
							{{editor actor.system.specialAbilities.1.description
									 target="system.specialAbilities.1.description"
									 button=true
									 owner=owner
									 editable=editable}}

							<input name="system.specialAbilities.1.description"
							       value="{{actor.system.specialAbilities.1.description}}"
							       type="text"
							       placeholder="{{localize 'GROUP.SPECIALABILITY.Description'}}" />
						</div>
					</div>
				</div>
			</div>

			<div class="ability-track" data-special-ability-index="1">
				<div class="ability-track-segment-container">
					{{#each actor.system.specialAbilities.1.values}}
						<label class="ability-track-segment{{#if this.trigger}} trigger{{/if}}">
							{{#if (equalTo @root.actor.system.specialAbilities.1.current @index)}}
								<img src="systems/wfrp3e/assets/images/token-black.webp" />
							{{else}}
								{{{this.content}}}
							{{/if}}

							<input name="system.specialAbilities.1.current"
							       value="{{@index}}"
							       type="radio"
								{{#if (equalTo @root.actor.system.specialAbilities.1.current @index)}} checked{{/if}} />
						</label>
					{{/each}}

					{{#if document.isOwner}}
						<a class="ability-track-edit" data-tooltip="{{localize 'GROUP.SPECIALABILITY.Edit'}}">
							<span class="fas fa-edit"></span>
						</a>
					{{/if}}
				</div>

				<div class="ability-track-editor">
					<div>
						<a class="ability-track-editor-minus" data-tooltip="{{localize 'GROUP.SPECIALABILITY.Decrease'}}">
							<span class="fas fa-minus"></span>
						</a>

						<div class="ability-track-editor-segment-container">
							{{#each actor.system.specialAbilities.1.values}}
								{{>systems/wfrp3e/templates/partials/ability-track-editor-segment.hbs
										value=this
										index=@index
										specialAbilityIndex=1}}
							{{/each}}
						</div>

						<a class="ability-track-editor-plus" data-tooltip="{{localize 'GROUP.SPECIALABILITY.Increase'}}">
							<span class="fas fa-plus"></span>
						</a>

						<button class="ability-track-editor-submit" type="submit" data-tooltip="{{localize 'Confirm'}}">
							<span class="fas fa-check"></span>
						</button>
					</div>

					<div>{{localize "GROUP.SPECIALABILITY.Trigger"}}</div>
				</div>
			</div>
		</section>

		<section class="talents-tab tab" data-group="primary" data-tab="talents">
			<div class="talent-tabs sheet-tabs" data-group="talents">
				{{#each talentTypes as |type ty|}}
					{{#if (lookup @root.items.talents ty)}}
						<a class="{{ty}}" data-tab="{{ty}}">{{localize type}}</a>
					{{/if}}
				{{/each}}
			</div>

			<div class="talents tab-content">
				{{#each talentTypes as |type ty|}}
					{{#if (lookup @root.items.talents ty)}}
						<div class="talent-container tab {{ty}} item-container" data-group="talents" data-tab="{{ty}}">
							{{#each (lookup @root.items.talents ty) as |talent ta|}}
								{{>systems/wfrp3e/templates/partials/item-talent-card.hbs talent=talent}}
							{{/each}}
						</div>
					{{/if}}
				{{/each}}
			</div>

			<div class="talent-sockets">
				<h4>{{localize "GROUP.TalentSockets"}}</h4>

				<div class="talent-socket-button-container">
					{{#each actor.system.talentSockets as |type ty|}}
						<select class="sheet-form-select talent-socket"
						        name="system.talentSockets"
						        data-tooltip="{{localize 'GROUP.TalentSocket'}}">
							{{selectOptions @root.talentTypes selected=type localize=true}}
						</select>
					{{/each}}

					<a class="talent-socket-delete">
						<span class="fas fa-trash"></span>
					</a>

					<a class="talent-socket-add">
						<span class="fas fa-plus"></span>
					</a>
				</div>
			</div>
		</section>
	</div>
</form>