<form class="{{cssClass}}" autocomplete="off">
	<header class="party-sheet-tension-meter">
		<a class="party-sheet-tension-meter-minus" data-tooltip="{{localize 'PARTY.TENSIONMETER.Decrease'}}">
			<span class="fas fa-minus"></span>
		</a>

		<div class="party-sheet-tension-meter-segment-container">
			{{#for 0 (increment actor.system.tension.maximum 1) 1}}
				<a class="party-sheet-tension-meter-segment{{#if (or (equalTo @root.actor.system.tension.events.0.threshold this) (equalTo @root.actor.system.tension.events.1.threshold this))}} threshold{{/if}}">
					{{#if (equalTo @root.actor.system.tension.value this)}}
						<img src="systems/wfrp3e/assets/images/token-grey.webp"/>
					{{else}}
						{{this}}
					{{/if}}

					<input name="system.tension.value"
					       type="radio"
					       value="{{this}}"
						{{#if (equalTo ../actor.system.tension.value this)}} checked{{/if}} />
				</a>
			{{/for}}
		</div>

		<a class="party-sheet-tension-meter-plus" data-tooltip="{{localize 'PARTY.TENSIONMETER.Increase'}}">
			<span class="fas fa-plus"></span>
		</a>
	</header>

	<div class="party-sheet-body">
		<div class="party-sheet-left-side">
			<div class="party-sheet-header">
				<input class="party-sheet-name"
				       name="name"
				       type="text"
				       value="{{actor.name}}"
				       placeholder="Name"
				       data-tooltip="Name" />

				<input class="party-sheet-traits"
				       name="system.traits"
				       type="text"
				       value="{{actor.system.traits}}"
				       placeholder="{{localize 'PARTY.Traits'}}"
				       data-tooltip="{{localize 'PARTY.Traits'}}" />
			</div>

			<div class="party-sheet-tension">
				<div class="party-sheet-tension-title">{{localize 'PARTY.TENSIONMETER.Title'}}</div>

				{{#each actor.system.tension.events as |event ev|}}
					<hr>
					<div class="party-sheet-tension-event">
						<input class="party-sheet-tension-event-threshold"
						       value="{{event.threshold}}"
						       name="system.tension.events.{{ev}}.threshold"
						       type="number"
						       min="0"
						       max="{{actor.system.tension.maximum}}"
						       data-tooltip="{{localize 'PARTY.TENSIONEVENT.Threshold'}}" />

						<input class="party-sheet-tension-event-effects"
						       name="system.tension.events.{{ev}}.effects"
						       value="{{event.effects}}"
						       type="text"
						       placeholder="{{localize 'PARTY.TENSIONEVENT.Effects'}}"
						       data-tooltip="{{localize 'PARTY.TENSIONEVENT.Effects'}}" />
					</div>
				{{/each}}
			</div>

			<div class="party-sheet-members">
				{{#each actor.memberActors as |actor act|}}
					<div class="party-sheet-member" data-actor-id="{{actor.id}}">
						<a class="party-sheet-member-portrait" data-tooltip="{{actor.name}}">
							<img src="{{actor.img}}" width="50" height="50" />
						</a>
						<a class="party-sheet-member-remove" data-tooltip="{{localize 'PARTY.RemoveMember'}}"><span class="fas fa-trash"></span></a>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="party-sheet-right-side">
			<img src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}" height="250"/>

			<a class="fortune-token" data-tooltip="{{localize 'PARTY.FortunePool'}}">
				<img src="systems/wfrp3e/assets/images/token-grey.webp" alt="{{localize 'PARTY.FortuneToken'}}" />
				<span class="fortune-counter">{{actor.system.fortunePool}}</span>
			</a>
		</div>
	</div>

	<div class="party-sheet-special-ability">
		<input class="party-sheet-special-ability-title"
		       name="system.specialAbility.title"
		       value="{{actor.system.specialAbility.title}}"
		       type="text"
		       placeholder="{{localize 'PARTY.SpecialAbility.Title'}}"
		       data-tooltip="{{localize 'PARTY.SpecialAbility.Title'}}" />
		
		<div class="party-sheet-special-ability-description editor-container">
			{{editor actor.system.specialAbility.description target='system.specialAbility.description' button=true owner=owner editable=editable}}
		</div>
	</div>

	<footer class="sheet-footer party-sheet-footer">
		{{#each actor.system.sockets}}
			<select name="system.sockets.{{@key}}.type">
				{{selectOptions @root.socketTypes selected=this.type localize=true}}
			</select>
		{{/each}}
		
		<div class="party-sheet-talent-socket-button-container">
			<a class="socket-remove">
				<span class="fas fa-minus"></span>
			</a>

			<a class="socket-add">
				<span class="fas fa-plus"></span>
			</a>
		</div>
	</footer>
</form>