<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="{{localize 'Name'}}'" />
		</h1>
	</header>

	<div>
		<label>
			{{localize 'ACTION.Type'}}:

			<select class="sheet-form-select" name="system.type" data-dtype="String">
				{{selectOptions @root.actionTypes selected=@root.item.system.type localize=true}}
			</select>
		</label>
	</div>

	<nav class="face-tabs sheet-tabs tabs" data-group="face">
		<a class="tab-link conservative-tab-link" data-tab="conservative">{{localize 'ACTION.FACE.Conservative'}}</a>
		<a class="tab-link reckless-tab-link" data-tab="reckless">{{localize 'ACTION.FACE.Reckless'}}</a>
	</nav>

	<div class="sheet-body">
		{{#each @root.stances as |stance st|}}
			<section class="tab {{st}}-tab" data-group="face" data-tab="{{st}}">
				<nav class="sheet-tabs tabs {{st}}-tabs" data-group="{{st}}">
					<a class="tab-link main-tab-link" data-tab="main">{{localize 'Main'}}</a>
					<a class="tab-link effects-tab-link" data-tab="effects">{{localize 'ACTION.Effects'}}</a>
				</nav>

				<section class="tab {{st}}-main-tab" data-group="{{st}}" data-tab="main">
					<div class="form-div">
						<label>
							{{localize 'ACTION.Name'}}:

							<input name="system.{{st}}.name"
							       value="{{lookup (lookup @root.item.system st) 'name'}}"
							       type="text"
							       placeholder="{{localize 'ACTION.Name'}}" />
						</label>

						<label>
							{{localize 'ACTION.Traits'}}:

							<input name="system.{{st}}.traits"
							       value="{{lookup (lookup @root.item.system st) 'traits'}}"
							       type="text"
							       placeholder="{{localize 'ACTION.Traits'}}" />
						</label>
					</div>

					<label class="art-selector">
						{{localize 'ACTION.Art'}}:

						<img src="{{lookup (lookup @root.item.system st) 'art'}}" data-edit="system.{{st}}.art" />
					</label>

					<div class="form-div">
						<label>
							{{localize 'ACTION.RechargeRating'}}:

							<input name="system.{{st}}.rechargeRating"
							       value="{{lookup (lookup @root.item.system st) 'rechargeRating'}}"
							       type="number"
							       min="0"
							       placeholder="{{localize 'ACTION.RechargeRating'}}" />
						</label>

						<label>
							{{localize 'ACTION.ChallengeDice'}}:

							<input name="system.{{st}}.difficultyModifiers.challengeDice"
							       value="{{lookup (lookup (lookup @root.item.system st) 'difficultyModifiers') 'challengeDice'}}"
							       type="number"
							       min="0"
							       placeholder="{{localize 'ACTION.ChallengeDice'}}" />
						</label>

						<label>
							{{localize 'ACTION.MisfortuneDice'}}:

							<input name="system.{{st}}.difficultyModifiers.misfortuneDice"
							       value="{{lookup (lookup (lookup @root.item.system st) 'difficultyModifiers') 'misfortuneDice'}}"
							       type="number"
							       min="0"
							       placeholder="{{localize 'ACTION.MisfortuneDice'}}" />
						</label>
					</div>

					<label>
						{{localize 'ACTION.Check'}}:

						<input name="system.{{st}}.check"
						       value="{{lookup (lookup @root.item.system st) 'check'}}"
						       type="text"
						       placeholder="{{localize 'ACTION.Check'}}" />
					</label>

					<label>
						{{localize 'ACTION.Requirements'}}:

						{{editor (lookup (lookup @root.item.system st) 'requirements')
								 target=(concat (concat "system." st) ".requirements")
								 button=true
								 owner=owner
								 editable=@root.editable}}
					</label>
				</section>

				<section class="tab {{st}}-effects-tab" data-group="{{st}}" data-tab="effects">
					<div>
						<label>{{localize 'ACTION.Effects'}}</label>

						{{#each @root.symbols as |symbol sym|}}
							<div class="effect-group">
								<span class="wfrp3e-font symbol {{symbol.cssClass}}"></span>
								<a class="effect-add" data-face="{{st}}" data-symbol="{{sym}}"><span class="fas fa-plus"></span></a>

								{{#each (lookup (lookup (lookup @root.item.system st) 'effects') sym) as |effect ef|}}
									<div class="effect">
										<input class="sheet-form-input effect-symbol-amount"
										       name="system.{{st}}.effects.{{sym}}.{{ef}}.symbolAmount"
										       value="{{effect.symbolAmount}}"
										       type="number"
										       min="0"
										       placeholder="{{localize 'ACTION.EFFECT.SymbolAmount'}}" />

										{{editor effect.description
												 target=(concat (concat (concat (concat (concat (concat "system." st) ".effects.") sym) ".") ef) ".description")
												 button=true
												 owner=@root.owner
												 editable=@root.editable}}

										<input class="sheet-form-input effect-description"
										       name="system.{{st}}.effects.{{sym}}.{{ef}}.description"
										       value="{{effect.description}}" type="text"
										       placeholder="{{localize 'ACTION.EFFECT.Description'}}" />

										<a class="effect-remove fa fa-eraser" data-face="{{st}}" data-symbol="{{sym}}" data-index="{{ef}}"></a>
									</div>
								{{/each}}
							</div>
						{{/each}}
					</div>

					<details{{#if (lookup (lookup @root.item.system st) 'special')}} open{{/if}}>
						<summary><label>{{localize 'ACTION.Special'}}</label></summary>
						{{editor (lookup (lookup @root.item.system st) 'special') target=(concat (concat "system." st) ".special") button=true owner=owner editable=@root.editable}}
					</details>

					<details{{#if (lookup (lookup @root.item.system st) 'uniqueEffect')}} open{{/if}}>
						<summary><label>{{localize 'ACTION.UniqueEffect'}}</label></summary>
						{{editor (lookup (lookup @root.item.system st) 'uniqueEffect') target=(concat (concat "system." st) ".uniqueEffect") button=true owner=@root.owner editable=@root.editable}}
					</details>
				</section>
			</section>
		{{/each}}
	</div>
</form>