<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="{{localize 'Name'}}" />
		</h1>
	</header>

	<label class="type form-label">
		{{localize "ACTION.FIELDS.type.label"}}:

		<select name="system.type">
			{{selectOptions @root.actionTypes selected=@root.item.system.type localize=true}}
		</select>
	</label>

	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a data-tab="conservative">{{localize "STANCES.conservative"}}</a>
		<a data-tab="reckless">{{localize "STANCES.reckless"}}</a>
	</nav>

	<div class="sheet-body">
		{{#each @root.stances as |stance st|}}
			{{#with (lookup @root.item.system st) as |face|}}
				<section class="{{st}} tab" data-group="primary" data-tab="{{st}}" data-face="{{st}}">
					<div class="sheet-tabs tabs {{st}}-tabs" data-group="{{st}}">
						<a class="tab-link main-tab-link" data-tab="main">{{localize "ACTION.TABS.main"}}</a>
						<a class="tab-link effects-tab-link" data-tab="effects">{{localize "ACTION.TABS.effects"}}</a>
					</div>

					<section class="{{st}} main-tab tab" data-group="{{st}}" data-tab="main">
						<div class="form-div">
							<label class="form-label">
								{{localize "ACTION.FIELDS.name.label"}}:

								<input name="system.{{st}}.name"
								       value="{{face.name}}"
								       type="text"
								       placeholder="{{localize 'ACTION.FIELDS.name.label'}}" />
							</label>

							<label class="form-label">
								{{localize "ACTION.FIELDS.traits.label"}}:

								<input name="system.{{st}}.traits"
								       value="{{face.traits}}"
								       type="text"
								       placeholder="{{localize 'ACTION.FIELDS.traits.label'}}" />
							</label>
						</div>

						<hr />

						<label class="art-selector">
							{{localize "ACTION.FIELDS.art.label"}}:

							<img src="{{face.art}}" data-edit="system.{{st}}.art" />
						</label>

						<hr />

						<div class="form-div">
							<label>
								{{localize "ACTION.FIELDS.rechargeRating.label"}}:

								<input name="system.{{st}}.rechargeRating"
								       value="{{face.rechargeRating}}"
								       type="number"
								       min="0"
								       placeholder="{{localize 'ACTION.FIELDS.rechargeRating.label'}}" />
							</label>

							<label>
								{{localize "ACTION.FIELDS.difficultyModifiers.challengeDice.label"}}:

								<input name="system.{{st}}.difficultyModifiers.challengeDice"
								       value="{{face.difficultyModifiers.challengeDice}}"
								       type="number"
								       min="0"
								       placeholder="{{localize 'ACTION.FIELDS.difficultyModifiers.challengeDice.label'}}" />
							</label>

							<label>
								{{localize "ACTION.FIELDS.difficultyModifiers.misfortuneDice.label"}}:

								<input name="system.{{st}}.difficultyModifiers.misfortuneDice"
								       value="{{face.difficultyModifiers.misfortuneDice}}"
								       type="number"
							 	       min="0"
							 	       placeholder="{{localize 'ACTION.FIELDS.difficultyModifiers.misfortuneDice.label'}}" />
							</label>
						</div>

						<hr />

						<label class="form-label">
							{{localize "ACTION.FIELDS.check.label"}}:

							<input name="system.{{st}}.check"
							       value="{{face.check}}"
							       type="text"
						 	       placeholder="{{localize 'ACTION.FIELDS.check.label'}}" />
						</label>

						<hr />

						<label class="editor-container">
							{{localize "ACTION.FIELDS.requirements.label"}}:

							{{editor face.requirements
									 target=(concat "system." st ".requirements")
									 button=true
									 owner=owner
									 editable=@root.editable}}
						</label>
					</section>

					<section class="tab {{st}}-effects-tab" data-group="{{st}}" data-tab="effects">
						<div>
							<label>
								{{localize "ACTION.FIELDS.effects.label"}}

								<a class="effect-add"><span class="fas fa-plus"></span></a>
							</label>

							{{#each @root.symbols as |symbol sym|}}
								<div class="effect-group" data-symbol="{{sym}}">
									{{#each (lookup face.effects sym) as |effect ef|}}
										<div class="effect" data-index="{{ef}}">
											{{#for 0 effect.symbolAmount 1}}
												{{#unless (and (or (sameAs sym "delay") (sameAs sym "exertion")) (superiorTo this 0))}}
													<span class="wfrp3e-font symbol {{symbol.cssClass}}"></span>
												{{else}}
													<span class="wfrp3e-font symbol {{@root.symbols.bane.cssClass}}"></span>
												{{/unless}}
											{{/for}}

											{{{striptags effect.description "p"}}}

											<a class="effect-edit fas fa-pen-to-square"></a>
											<a class="effect-remove fa fa-eraser"></a>
										</div>
									{{/each}}
								</div>
							{{/each}}
						</div>

						<details{{#if face.special}} open{{/if}}>
							<summary><label>{{localize "ACTION.FIELDS.special.label"}}</label></summary>
							{{editor face.special target=(concat "system." st ".special") button=true owner=owner editable=@root.editable}}
						</details>

						<details{{#if face.uniqueEffect}} open{{/if}}>
							<summary><label>{{localize "ACTION.FIELDS.uniqueEffect.label"}}</label></summary>
							{{editor face.uniqueEffect target=(concat "system." st ".uniqueEffect") button=true owner=@root.owner editable=@root.editable}}
						</details>
					</section>
				</section>
			{{/with}}
		{{/each}}
	</div>
</form>