<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" alt="{{item.name}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<label>
				<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
			</label>
		</h1>
	</header>

	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="tab-link main-tab-link" data-tab="main">{{localize "Main"}}</a>
		<a class="tab-link details-tab-link" data-tab="details">{{localize "Details"}}</a>
	</nav>

	<div class="sheet-body">
		<section class="tab main-tab" data-group="primary" data-tab="main">
			{{>systems/wfrp3e/templates/partials/trapping-cost-informations.hbs}}

			<hr />

			<div class="form-div">
				<label>
					{{localize 'ARMOUR.Defence'}}:

					<input name="system.defenceValue"
					       value="{{item.system.defenceValue}}"
					       type="number"
					       placeholder="{{localize 'ARMOUR.Defence'}}" />
				</label>

				<label>
					{{localize 'ARMOUR.Soak'}}:

					<input name="system.soakValue"
					       value="{{item.system.soakValue}}"
					       type="number"
					       placeholder="{{localize 'ARMOUR.Soak'}}" />
				</label>
			</div>
		</section>

		<section class="tab main-tab" data-group="primary" data-tab="details">
			<label class="editor-container">
				{{localize "TRAPPING.Description"}}
				{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
			</label>
		</section>
	</div>
</form>