<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="{{localize 'Name'}}" />
		</h1>
	</header>
	
	<nav class="sheet-tabs tabs career-sheet-tabs" data-group="primary">
		<a data-tab="header">{{localize "CAREER.TABS.header"}}</a>
		<a data-tab="aptitudes">{{localize "CAREER.TABS.aptitudes"}}</a>
		<a data-tab="advances">{{localize "CAREER.TABS.advanceOptions"}}</a>
		<a data-tab="setting">{{localize "CAREER.TABS.setting"}}</a>
	</nav>

	<section class="sheet-body career-sheet-body">
		<div class="tab tab-container header-tab-link" data-group="primary" data-tab="header">
			<label>
				{{localize "CAREER.FIELDS.advanced.label"}}

				<input name="system.advanced"
				       value="{{item.system.advanced}}"
				       type="checkbox"{{#if item.system.advanced}} checked{{/if}} />
			</label>

			<label>
				{{localize "CAREER.FIELDS.raceRestrictions.label"}}

				<a class="race-restriction-remove">
					<span class="fas fa-minus"></span>
				</a>

				<a class="race-restriction-add">
					<span class="fas fa-plus"></span>
				</a>

				<div>
					{{#each item.system.raceRestrictions}}
						<select name="system.raceRestrictions">
							{{selectOptions @root.races selected=this labelAttr="name" localize=true}}
						</select>
					{{/each}}
				</div>
			</label>

			<label>
				{{localize "CAREER.FIELDS.traits.label"}}

				<input name="system.traits"
				       value="{{item.system.traits}}"
				       type="text"
				       placeholder="{{localize 'Traits'}}" />
			</label>
		</div>

		<div class="tab tab-container aptitudes" data-group="primary" data-tab="aptitudes">
			<label>
				{{localize "CAREER.FIELDS.sockets.label"}}

				<a class="socket-remove">
					<span class="fas fa-minus"></span>
				</a>

				<a class="socket-add">
					<span class="fas fa-plus"></span>
				</a>

				<div>
					{{#each item.system.sockets}}
						<select name="system.sockets.{{@key}}.type">
							{{selectOptions @root.socketTypes selected=this.type localize=true}}
						</select>
					{{/each}}
				</div>
			</label>

			<label>
				{{localize "CAREER.FIELDS.primaryCharacteristics.label"}}

				{{#each item.system.primaryCharacteristics as |characteristic char|}}
					<select name="system.primaryCharacteristics">
						{{selectOptions ../characteristics selected=characteristic labelAttr="name" localize=true}}
					</select>
				{{/each}}
			</label>

			<label>
				{{localize "CAREER.FIELDS.careerSkills.label"}}

				<input name="system.careerSkills"
				       value="{{item.system.careerSkills}}"
				       type="text"
				       placeholder="{{localize 'CAREER.FIELDS.careerSkills.label'}}" />
			</label>

			<div class="form-div">
				<label>
					{{localize "CAREER.FIELDS.startingStance.conservativeSegments.label"}}

					<input name="system.startingStance.conservativeSegments"
					       value="{{item.system.startingStance.conservativeSegments}}"
					       type="number"
					       placeholder="{{localize 'CAREER.FIELDS.startingStance.conservativeSegments.label'}}" />
				</label>

				<label>
					{{localize "CAREER.FIELDS.startingStance.recklessSegments.label"}}

					<input name="system.startingStance.recklessSegments"
					       type="number"
					       value="{{item.system.startingStance.recklessSegments}}"
					       placeholder="{{localize 'CAREER.FIELDS.startingStance.recklessSegments.label'}}" />
				</label>
			</div>
		</div>

		<div class="tab tab-container advances-tab-link" data-group="primary" data-tab="advances">
			<div class="form-div">
				<label>
					{{localize "CAREER.FIELDS.advanceOptions.action.label"}}

					<input name="system.advanceOptions.action"
					       value="{{item.system.advanceOptions.action}}"
					       type="number"
					       placeholder="{{localize 'CAREER.FIELDS.advanceOptions.action.label'}}" />
				</label>

				<label>
					{{localize "CAREER.FIELDS.advanceOptions.talent.label"}}

					<input name="system.advanceOptions.talent"
					       value="{{item.system.advanceOptions.talent}}"
					       type="number"
					       placeholder="{{localize 'CAREER.FIELDS.advanceOptions.talent.label'}}" />
				</label>
			</div>

			<div class="form-div">
				<label>
					{{localize "CAREER.FIELDS.advanceOptions.skill.label"}}

					<input name="system.advanceOptions.skill"
					       value="{{item.system.advanceOptions.skill}}"
					       type="number"
					       placeholder="{{localize 'CAREER.FIELDS.advanceOptions.skill.label'}}" />
				</label>

				<label>
					{{localize "CAREER.FIELDS.advanceOptions.fortune.label"}}

					<input name="system.advanceOptions.fortune"
					       value="{{item.system.advanceOptions.fortune}}"
					       type="number"
					       placeholder="{{localize 'CAREER.FIELDS.advanceOptions.fortune.label'}}" />
				</label>
			</div>

			<div class="form-div">
				<label>
					{{localize "CAREER.FIELDS.advanceOptions.conservative.label"}}

					<input name="system.advanceOptions.conservative"
					       value="{{item.system.advanceOptions.conservative}}"
					       type="number"
					       placeholder="{{localize 'CAREER.FIELDS.advanceOptions.conservative.label'}}" />
				</label>

				<label>
					{{localize "CAREER.FIELDS.advanceOptions.reckless.label"}}

					<input name="system.advanceOptions.reckless"
					       value="{{item.system.advanceOptions.reckless}}"
					       type="number"
					       placeholder="{{localize 'CAREER.FIELDS.advanceOptions.reckless.label'}}" />
				</label>
			</div>

			<label>
				{{localize "CAREER.FIELDS.advanceOptions.wound.label"}}

				<input name="system.advanceOptions.wound"
				       value="{{item.system.advanceOptions.wound}}"
				       type="number"
				       placeholder="{{localize 'CAREER.FIELDS.advanceOptions.wound.label'}}" />
			</label>
		</div>

		<div class="tab tab-container setting-tab-link" data-group="primary" data-tab="setting">
			<label>
				{{localize "CAREER.FIELDS.summary.label"}}

				<input name="system.summary"
				       value="{{item.system.summary}}"
				       type="text"
				       placeholder="{{localize 'CAREER.FIELDS.summary.label'}}" />
			</label>

			<label class="editor-container">
				{{localize "CAREER.FIELDS.description.label"}}
				{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
			</label>
		</div>
	</section>
</form>