<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<h1><input class="name-input" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" /></h1>
	</header>
	
	<nav class="sheet-tabs tabs career-sheet-tabs" data-group="primary">
		<a class="tab-link conservative-tab-link" data-tab="header">{{localize 'CAREER.Header'}}</a>
		<a class="tab-link reckless-tab-link" data-tab="aptitudes">{{localize 'CAREER.CareerAptitudes'}}</a>
		<a class="tab-link reckless-tab-link" data-tab="advances">{{localize 'CAREER.AdvanceOptions'}}</a>
		<a class="tab-link reckless-tab-link" data-tab="setting">{{localize 'CAREER.SettingInformation'}}</a>
	</nav>

	<section class="sheet-body career-sheet-body">
		<div class="tab tab-container header-tab-link" data-group="primary" data-tab="header">
			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'CAREER.AdvancedCareer'}}</label>
				<input class="sheet-form-input" name="system.advanced" type="checkbox" value="{{item.system.advanced}}"{{#if item.system.advanced}} checked{{/if}}  data-dtype="boolean" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'CAREER.RaceRestrictions'}}</label>
				<input class="sheet-form-input" name="system.raceRestrictions" type="text" value="{{item.system.raceRestrictions}}" placeholder="{{localize 'CAREER.RaceRestrictions'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'CAREER.Traits'}}</label>
				<input class="sheet-form-input" name="system.traits" type="text" value="{{item.system.traits}}" placeholder="{{localize 'Traits'}}" />
			</div>
		</div>

		<div class="tab tab-container aptitudes" data-group="primary" data-tab="aptitudes">
			<div class="sheet-form-div career-talent-sockets">
				<label class="sheet-form-label">{{localize 'CAREER.TalentSockets'}}</label>

				<a class="talent-socket-remove"><span class="fas fa-minus"></span></a>
				<a class="talent-socket-add"><span class="fas fa-plus"></span></a>

				<div>
					{{#each item.system.talentSockets as |type ty|}}
						<select class="career-sheet-talent-socket-select sheet-form-select" name="system.talentSockets" data-dtype="String">
							{{selectOptions @root.talentTypes selected=type localize=true}}
						</select>
					{{/each}}
				</div>
			</div>

			<div class="sheet-form-div careeer-primary-characteristics">
				<label class="sheet-form-label">{{localize 'CAREER.PrimaryCharacteristics'}}</label>

				<div>
					{{#each item.system.primaryCharacteristics as |characteristic char|}}
						<select name="system.primaryCharacteristics" data-dtype="String">
							{{selectOptions ../characteristics selected=characteristic labelAttr="name" localize=true}}
						</select>
					{{/each}}
				</div>
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'CAREER.CareerSkills'}}</label>
				<input class="sheet-form-input" name="system.careerSkills" type="text" value="{{item.system.careerSkills}}" placeholder="{{localize 'CAREER.CareerSkills'}}" />
			</div>

			<div class="sheet-form-div career-starting-stance-segments">
				<div>
					<label class="sheet-form-label">{{localize 'CAREER.StartingConservativeSegments'}}</label>
					<input class="sheet-form-input" name="system.startingStance.conservativeSegments" type="number" value="{{item.system.startingStance.conservativeSegments}}" placeholder="{{localize 'CAREER.StartingConservativeSegments'}}" />
				</div>

				<div>
					<label class="sheet-form-label">{{localize 'CAREER.StartingRecklessSegments'}}</label>
					<input class="sheet-form-input" name="system.startingStance.recklessSegments" type="number" value="{{item.system.startingStance.recklessSegments}}" placeholder="{{localize 'CAREER.StartingRecklessSegments'}}" />
				</div>
			</div>
		</div>

		<div class="tab tab-container advances-tab-link" data-group="primary" data-tab="advances">
			<div class="sheet-form-div career-advance-options">
				<div>
					<label class="sheet-form-label">{{localize 'CAREER.ActionAdvanceOptions'}}</label>
					<input class="sheet-form-input" name="system.advanceOptions.action" type="number" value="{{item.system.advanceOptions.action}}" placeholder="{{localize 'CAREER.ActionAdvanceOptions'}}" />
				</div>

				<div>
					<label class="sheet-form-label">{{localize 'CAREER.TalentAdvanceOptions'}}</label>
					<input class="sheet-form-input" name="system.advanceOptions.talent" type="number" value="{{item.system.advanceOptions.talent}}" placeholder="{{localize 'CAREER.TalentAdvanceOptions'}}" />
				</div>
			</div>

			<div class="sheet-form-div career-advance-options">
				<div>
					<label class="sheet-form-label">{{localize 'CAREER.SkillAdvanceOptions'}}</label>
					<input class="sheet-form-input" name="system.advanceOptions.skill" type="number" value="{{item.system.advanceOptions.skill}}" placeholder="{{localize 'CAREER.SkillAdvanceOptions'}}" />		
				</div>

				<div>
					<label class="sheet-form-label">{{localize 'CAREER.FortuneAdvanceOptions'}}</label>
					<input class="sheet-form-input" name="system.advanceOptions.fortune" type="number" value="{{item.system.advanceOptions.fortune}}" placeholder="{{localize 'CAREER.FortuneAdvanceOptions'}}" />
				</div>
			</div>

			<div class="sheet-form-div career-advance-options">
				<div>
					<label class="sheet-form-label">{{localize 'CAREER.ConservativeAdvanceOptions'}}</label>
					<input class="sheet-form-input" name="system.advanceOptions.conservative" type="number" value="{{item.system.advanceOptions.conservative}}" placeholder="{{localize 'CAREER.ConservativeAdvanceOptions'}}" />
				</div>

				<div class="sheet-form-div">
					<label class="sheet-form-label">{{localize 'CAREER.RecklessAdvanceOptions'}}</label>
					<input class="sheet-form-input" name="system.advanceOptions.reckless" type="number" value="{{item.system.advanceOptions.reckless}}" placeholder="{{localize 'CAREER.RecklessAdvanceOptions'}}" />
				</div>
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'CAREER.WoundAdvanceOptions'}}</label>
				<input class="sheet-form-input" name="system.advanceOptions.wound" type="number" value="{{item.system.advanceOptions.wound}}" placeholder="{{localize 'CAREER.WoundsAdvanceOptions'}}" />
			</div>
		</div>

		<div class="tab tab-container setting-tab-link" data-group="primary" data-tab="setting">
			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'CAREER.Summary'}}</label>
				<input class="sheet-form-input" name="system.summary" type="text" value="{{item.system.summary}}" placeholder="{{localize 'CAREER.Summary'}}" />
			</div>

			<div class="sheet-form-div">
				<label class="sheet-form-label">{{localize 'CAREER.SettingInformation'}}</label>
				{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
			</div>
		</div>
	</section>
</form>