<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<section class="sheet-body">
		<div class="sheet-form-div">
			<label class="sheet-form-label">{{localize 'CONDITION.Duration'}}</label>
			<select class="sheet-form-select" name="system.duration" data-dtype="String">
				{{selectOptions conditionDurations selected=item.system.duration localize=true}}
			</select>
		</div>

		{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
	</section>
</form>