<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
		<h1><input class="name-input" name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
	</header>

	<section class="sheet-body">
		<label>
			{{localize "INSANITY.FIELDS.traits.label"}}

			<input name="system.traits"
			       value="{{item.system.traits}}"
			       type="text"
			       placeholder="{{localize 'INSANITY.FIELDS.traits.label'}}" />
		</label>

		<label>
			{{localize "INSANITY.FIELDS.severityRating.label"}}

			<input name="system.severityRating"
			       value="{{item.system.severityRating}}"
			       type="number"
			       placeholder="{{localize 'INSANITY.FIELDS.severityRating.label'}}"
			       data-tooltip="{{localize 'INSANITY.FIELDS.severityRating.label'}}" />
		</label>

		<div class="editor-container">
			{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>