<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
		<h1><input class="name-input" name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
	</header>

	<section class="sheet-body">
		<label>
			{{localize 'INSANITY.Traits'}}

			<input name="system.traits"
			       value="{{item.system.traits}}"
			       type="text"
			       placeholder="{{localize 'Traits'}}" />
		</label>

		<label>
			{{localize 'INSANITY.SeverityRating'}}

			<input name="system.severityRating"
			       value="{{item.system.severityRating}}"
			       type="number"
			       placeholder="{{localize 'INSANITY.SeverityRating'}}"
			       data-tooltip="{{localize 'INSANITY.SeverityRating'}}" />
		</label>

		<label>
			{{localize "INSANITY.Description"}}

			<input name="system.description"
			       value="{{item.system.description}}"
			       type="text"
			       placeholder="{{localize 'INSANITY.Description'}}"
			       data-tooltip="{{localize 'INSANITY.Description'}}" />
		</label>

		<div class="editor-container">
			{{editor item.system.effects target="system.effects" button=true owner=owner editable=editable}}
		</div>
	</section>
</form>