<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<section>
		<label>{{localize 'MONEY.Value'}}:

			<input name="system.value"
			       value="{{item.system.value}}"
			       type="number"
			       placeholder="{{localize 'MONEY.Value'}}"
				   data-tooltip="{{localize 'MONEY.Value'}}" />
		</label>

		<label>
			{{localize "TRAPPING.Quantity"}}:

			<input name="system.quantity"
			       value="{{item.system.quantity}}"
			       placeholder="{{localize 'TRAPPING.ABBREVIATION.Quantity'}}"
			       type="number"
			       data-tooltip="{{localize 'TRAPPING.Quantity'}}" />
		</label>

		<label class="editor-container">
			{{localize "TRAPPING.Description"}}:
			{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
		</label>
	</section>
</form>