<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<section class="sheet-body">
		<div class="form-div">
			<label>{{localize 'MONEY.Value'}}:

				<input name="system.value"
				       value="{{item.system.value}}"
				       type="number"
				       placeholder="{{localize 'MONEY.Value'}}"
				       title="{{localize 'MONEY.Value'}}" />
			</label>
		</div>

		<div class="sheet-form-div">
			<label>{{localize "TRAPPING.Quantity"}}:

				<input name="system.quantity"
				       value="{{item.system.quantity}}"
				       placeholder="{{localize 'TRAPPING.ABBREVIATION.Quantity'}}"
				       type="number"
				       title="{{localize 'TRAPPING.Quantity'}}" />
			</label>
		</div>

		<label>
			{{localize "TRAPPING.Description"}}:

			{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
		</label>
	</section>
</form>