<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<section>
		<label>{{localize "MONEY.FIELDS.value"}}:

			<input name="system.value"
			       value="{{item.system.value}}"
			       type="number"
			       placeholder="{{localize 'MONEY.FIELDS.value'}}"
				   data-tooltip="{{localize 'MONEY.FIELDS.value'}}" />
		</label>

		<label>
			{{localize "MONEY.FIELDS.quantity.label"}}:

			<input name="system.quantity"
			       value="{{item.system.quantity}}"
			       placeholder="{{localize 'MONEY.FIELDS.quantity.abbreviation'}}"
			       type="number"
			       data-tooltip="{{localize 'MONEY.FIELDS.quantity.label'}}" />
		</label>

		<label class="editor-container">
			{{localize "MONEY.FIELDS.description.label"}}:
			{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
		</label>
	</section>
</form>