<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<section class="sheet-body">
		<div class="sheet-form-div">
			<label class="sheet-form-label">
				{{localize 'MUTATION.Traits'}}

				<input class="sheet-form-input"
				       name="system.traits"
				       value="{{item.system.traits}}"
				       type="text"
				       placeholder="{{localize 'Traits'}}" />
            </label>
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">
				{{localize 'MUTATION.SeverityRating'}}

				<input class="sheet-form-input"
				       name="system.severityRating"
				       value="{{item.system.severityRating}}"
				       type="number"
				       placeholder="{{localize 'MUTATION.SeverityRating'}}"
				       data-tooltip="{{localize 'MUTATION.SeverityRating'}}" />
            </label>
		</div>

		<div class="sheet-form-div">
			<label class="sheet-form-label">
				{{localize 'MUTATION.Description'}}

				<input class="sheet-form-input"
				       name="system.description"
				       value="{{item.system.description}}"
				       type="text"
				       placeholder="{{localize 'MUTATION.Description'}}"
				       data-tooltip="{{localize 'MUTATION.Description'}}" />
            </label>
		</div>

		{{editor item.system.effects target='system.effects' button=true owner=owner editable=editable}}
	</section>
</form>