<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<h1><input class="name-input" name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
	</header>

	<section class="sheet-body">
		<div class="sheet-form-div">
			<select class="sheet-form-select" name="system.type" data-dtype="String">
				{{selectOptions talentTypes selected=item.system.type localize=true}}
			</select>
		</div>

		{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
	</section>
</form>