<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" alt="{{item.name}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="main-tab-link" data-tab="main">{{localize "Main"}}</a>
		<a class="details-tab-link" data-tab="details">{{localize "Details"}}</a>
	</nav>

	<div class="sheet-body">
		<section class="tab main-tab" data-group="primary" data-tab="main">
			{{>systems/wfrp3e/templates/partials/trapping-cost-informations.hbs}}
		</section>

		<section class="tab main-tab" data-group="primary" data-tab="details">
			<label class="editor-container">
				{{localize "TRAPPING.Description"}}
				{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
			</label>
		</section>
	</div>
</form>