<div class="trapping-cost">
	{{localize "TRAPPING.FIELDS.cost.label"}}

	<div class="form-group-container">
		<div class="form-group brass">
			<label class="">{{localize "TRAPPING.FIELDS.cost.brass.label"}}</label>

			{{formInput fields.cost.fields.brass value=system.cost localize=true}}

			<span>{{localize "TRAPPING.FIELDS.cost.brass.abbreviation"}}</span>
		</div>

		<div class="form-group silver">
			<label>{{localize "TRAPPING.FIELDS.cost.silver.label"}}</label>

			{{formInput fields.cost.fields.silver value=system.cost localize=true}}

			<span>{{localize "TRAPPING.FIELDS.cost.silver.abbreviation"}}</span>
		</div>

		<div class="form-group gold">
			<label>{{localize "TRAPPING.FIELDS.cost.gold.label"}}</label>

			{{formInput fields.cost.fields.gold value=system.cost localize=true}}

			<span>{{localize "TRAPPING.FIELDS.cost.gold.abbreviation"}}</span>
		</div>
	</div>
</div>

<hr />

<div class="form-group-container">
	{{formGroup fields.encumbrance value=system.encumbrance classes="slim" localize=true}}

	{{formGroup fields.rarity value=system.rarity classes="extended" localize=true}}
</div>