<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" alt="{{item.name}}" data-edit="img" data-tooltip="{{item.name}}" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="main-tab-link" data-tab="main">{{localize "TRAPPING.TABS.main"}}</a>
		<a class="details-tab-link" data-tab="details">{{localize "TRAPPING.TABS.details"}}</a>
	</nav>

	<div class="sheet-body">
		<section class="tab main-tab" data-group="primary" data-tab="main">
			{{>systems/wfrp3e/templates/partials/trapping-cost-informations.hbs}}

			<hr />

			<div class="form-div">
				<label>
					{{localize "WEAPON.FIELDS.damageRating.label"}}:

					<input name="system.damageRating"
					       value="{{item.system.damageRating}}"
					       type="number"
					       placeholder="{{localize 'WEAPON.FIELDS.damageRating.abbreviation'}}" />
				</label>

				<label>
					{{localize "WEAPON.FIELDS.criticalRating.label"}}:

					<input name="system.criticalRating"
					       value="{{item.system.criticalRating}}"
					       type="number"
					       placeholder="{{localize 'WEAPON.FIELDS.criticalRating.abbreviation'}}" />
				</label>

				<label>
					{{localize "WEAPON.FIELDS.range.label"}}:

					<select name="system.range">
						{{selectOptions ranges selected=item.system.range localize=true}}
					</select>
				</label>

				<label>
					{{localize "WEAPON.FIELDS.group.label"}}:

					<select name="system.group">
						{{selectOptions groups selected=item.system.group labelAttr="name" localize=true}}
					</select>
				</label>
			</div>

			<hr />

			<div class="qualities">
				{{localize "WEAPON.FIELDS.qualities.label"}}

				<a class="quality-add" data-tooltip="{{localize 'WEAPON.ACTIONS.addQuality'}}">
					<span class="fas fa-plus"></span>
				</a>

				<div class="qualities-container">
					{{#each item.system.qualities as |quality qu|}}
						<div class="quality-container">
							<label class="quality-label">
								<select class="quality-select" name="system.qualities.{{qu}}.name">
									{{selectOptions @root.qualities selected=quality.name localize=true}}
								</select>
							</label>

							{{#if (in quality.name @root.qualitiesWithRating) }}
								<label class="quality-rating-label">
									<span>{{localize "WEAPON.FIELDS.qualities.rating.label"}}: </span>

									<input name="system.qualities.{{qu}}.rating"
									       value="{{quality.rating}}"
									       type="number"
									       min="1"
									       placeholder="{{localize 'WEAPON.FIELDS.qualities.rating.label'}}" />
								</label>
							{{/if}}

							<a class="quality-remove" data-tooltip="{{localize 'WEAPON.ACTIONS.removeQuality'
																			   quality=(localize (lookup @root.qualities quality.name))}}">
								<span class="fas fa-trash"></span>
							</a>
						</div>

						<hr />
					{{/each}}
				</div>
			</div>

			<hr />

			<label class="editor-container">
				{{localize "WEAPON.FIELDS.special.label"}}
				{{editor item.system.special target="system.special" button=true owner=owner editable=editable}}
			</label>
		</section>

		<section class="tab main-tab" data-group="primary" data-tab="details">
			<label class="editor-container">
				{{localize "TRAPPING.FIELDS.description.label"}}
				{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
			</label>
		</section>
	</div>
</form>