<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="actor-img" src="{{item.img}}" title="{{item.name}}" alt="{{item.name}}" data-edit="img" />

		<h1>
			<input class="name-input" name="name" value="{{item.name}}" type="text" placeholder="Name" />
		</h1>
	</header>

	<nav class="primary-tabs sheet-tabs tabs" data-group="primary">
		<a class="tab-link main-tab-link" data-tab="main">{{localize "Main"}}</a>
		<a class="tab-link details-tab-link" data-tab="details">{{localize "Details"}}</a>
	</nav>

	<div class="sheet-body">
		<section class="tab main-tab" data-group="primary" data-tab="main">
			{{>systems/wfrp3e/templates/partials/trapping-cost-informations.hbs}}

			<hr />

			<div class="form-div">
				<label>
					{{localize 'WEAPON.DamageRating'}}:

					<input name="system.damageRating"
					       value="{{item.system.damageRating}}"
					       type="number"
					       placeholder="{{localize 'WEAPON.ABBREVIATION.DamageRating'}}" />
				</label>

				<label>
					{{localize 'WEAPON.CriticalRating'}}:

					<input name="system.criticalRating"
					       value="{{item.system.criticalRating}}"
					       type="number"
					       placeholder="{{localize 'WEAPON.ABBREVIATION.CriticalRating'}}" />
				</label>

				<label>
					{{localize 'WEAPON.Range'}}:

					<select name="system.range">
						{{selectOptions ranges selected=item.system.range localize=true}}
					</select>
				</label>

				<label>
					{{localize 'WEAPON.Group'}}:

					<select name="system.group">
						{{selectOptions groups selected=item.system.group labelAttr="name" localize=true}}
					</select>
				</label>
			</div>

			<hr />

			<div class="qualities">
				{{localize 'WEAPON.Qualities'}}

				<a class="quality-add">
					<span class="fas fa-plus"></span>
				</a>

				<div class="qualities-container">
					{{#each item.system.qualities as |quality qu|}}
						<div class="quality-container">
							<label class="quality-label">
								<select class="quality-select" name="system.qualities.{{qu}}.name">
									{{selectOptions @root.qualities selected=quality.name localize=true}}
								</select>
							</label>

							{{#if (in quality.name @root.qualitiesWithRating) }}
								<label class="quality-rating-label">
									<span>{{localize "WEAPON.Rating"}}: </span>

									<input name="system.qualities.{{qu}}.rating"
									       value="{{quality.rating}}"
									       type="number"
									       min="1"
									       placeholder="{{localize 'WEAPON.QualityRating'}}" />
								</label>
							{{/if}}

							<a class="quality-remove">
								<span class="fas fa-trash"></span>
							</a>
						</div>

						<hr />
					{{/each}}
				</div>
			</div>

			<label>
				{{localize "WEAPON.QUALITY.Special"}}

				{{editor item.system.special target="system.special" button=true owner=owner editable=editable}}
			</label>
		</section>

		<section class="tab main-tab" data-group="primary" data-tab="details">
			{{localize "TRAPPING.Description"}}

			<label>
				{{editor item.system.description target='system.description' button=true owner=owner editable=editable}}
			</label>
		</section>
	</div>
</form>