<section>
	<div class="characteristics">
		<h5>{{localize "CREATIONPOINTINVESTOR.CHARACTERISTICS.label"}}</h5>

		{{#each characteristics as |characteristic char|}}
			<div data-characteristic="{{char}}">
				<label for="{{concat @root.rootId '-creationPointInvestments.' char}}">
					{{localize characteristic.name}}
				</label>

				<div>
					<button data-action="decrementCharacteristicRating"
							data-tooltip="{{localize 'CREATIONPOINTINVESTOR.ACTIONS.decrementCharacteristicRating'
													 characteristic=(localize characteristic.name)}}">
						<span class="fa fa-minus"></span>
					</button>

					<input id="{{concat @root.rootId '-creationPointInvestments.' char}}"
						   name="creationPointInvestments.characteristics.{{char}}"
						   value="{{lookup @root.creationPointInvestments.characteristics char}}"
						   type="number"
						   min="{{characteristic.defaultRating}}"
						   max="5"
						   data-characteristic="{{char}}" />

					<button data-action="incrementCharacteristicRating"
							data-tooltip="{{localize 'CREATIONPOINTINVESTOR.ACTIONS.incrementCharacteristicRating'
													 characteristic=(localize characteristic.name)}}">
						<span class="fa fa-plus"></span>
					</button>
				</div>
			</div>
		{{/each}}
	</div>

	{{>systems/wfrp3e/templates/applications/apps/creation-point-investor/partial.hbs
			values=creationPointInvestmentCategories.wealth
			key="wealth"}}

	{{>systems/wfrp3e/templates/applications/apps/creation-point-investor/partial.hbs
			values=creationPointInvestmentCategories.skills
			key="skills"}}

	{{>systems/wfrp3e/templates/applications/apps/creation-point-investor/partial.hbs
			values=creationPointInvestmentCategories.talents
			key="talents"}}

	{{>systems/wfrp3e/templates/applications/apps/creation-point-investor/partial.hbs
			values=creationPointInvestmentCategories.actionCards
			key="actionCards"}}
</section>