<section class="ability-tab tab" data-group="primary" data-tab="abilities">
	<div class="ability-tabs sheet-tabs" data-group="abilities">
		{{#if items.abilities}}
			<a class="tab-link ability" data-tab="ability">{{localize "CHARACTER.Abilities"}}</a>
		{{/if}}

		{{#if items.conditions}}
			<a class="tab-link condition" data-tab="condition">{{localize "CHARACTER.Conditions"}}</a>
		{{/if}}

		{{#if items.criticalWounds}}
			<a class="tab-link wound" data-tab="wound">{{localize "CHARACTER.CriticalWounds"}}</a>
		{{/if}}

		{{#if items.diseases}}
			<a class="tab-link disease" data-tab="disease">{{localize "CHARACTER.Diseases"}}</a>
		{{/if}}

		{{#if items.insanities}}
			<a class="tab-link insanity" data-tab="insanity">{{localize "CHARACTER.Insanities"}}</a>
		{{/if}}

		{{#if items.mutations}}
			<a class="tab-link mutation" data-tab="mutation">{{localize "CHARACTER.Mutations"}}</a>
		{{/if}}

		{{#if items.miscasts}}
			<a class="tab-link miscast" data-tab="miscast">{{localize "CHARACTER.Miscasts"}}</a>
		{{/if}}
	</div>

	<div class="abilities tab-content">
		<div class="item-container tab ability" data-group="abilities" data-tab="ability">
			{{#each items.abilities as |ability ab|}}
				{{>systems/wfrp3e/templates/partials/item-ability-card.hbs ability=ability}}
			{{/each}}
		</div>

		<div class="item-container tab condition" data-group="abilities" data-tab="condition">
			{{#each items.conditions as |condition cond|}}
				{{>systems/wfrp3e/templates/partials/item-condition-card.hbs condition=condition}}
			{{/each}}
		</div>

		<div class="item-container tab wound" data-group="abilities" data-tab="wound">
			{{#each items.criticalWounds as |wound wnd|}}
				{{>systems/wfrp3e/templates/partials/item-wound-card.hbs wound=wound}}
			{{/each}}
		</div>

		<div class="item-container tab disease" data-group="abilities" data-tab="disease">
			{{#each items.diseases as |disease dis|}}
				{{>systems/wfrp3e/templates/partials/item-disease-card.hbs disease=disease}}
			{{/each}}
		</div>

		<div class="item-container tab insanity" data-group="abilities" data-tab="insanity">
			{{#each items.insanities as |insanity ins|}}
				{{>systems/wfrp3e/templates/partials/item-insanity-card.hbs insanity=insanity}}
			{{/each}}
		</div>

		<div class="item-container tab mutation" data-group="abilities" data-tab="mutation">
			{{#each items.mutations as |mutation mut|}}
				{{>systems/wfrp3e/templates/partials/item-mutation-card.hbs mutation=mutation}}
			{{/each}}
		</div>

		<div class="item-container tab miscast" data-group="abilities" data-tab="miscast">
			{{#each items.miscasts as |miscast mis|}}
				{{>systems/wfrp3e/templates/partials/item-miscast-card.hbs miscast=miscast}}
			{{/each}}
		</div>
	</div>
</section>