<section class="action-tab tab" data-group="primary" data-tab="actions">
	<div class="action-tabs sheet-tabs" data-group="actions">
		{{#each actionTypes as |type ty|}}
			{{#if (lookup @root.items.actions ty)}}
				<a class="tab-link {{ty}}" data-tab="{{ty}}">{{localize type}}</a>
			{{/if}}
		{{/each}}
	</div>

	<div class="actions tab-content">
		{{#each actionTypes as |type ty|}}
			{{#if (lookup @root.items.actions ty)}}
				<div class="action-container item-container tab {{ty}}" data-group="actions" data-tab="{{ty}}">
					{{#each (lookup @root.items.actions ty) as |action act|}}
						{{>systems/wfrp3e/templates/partials/item-action-card.hbs
								action=action
								currentStance=@root.actor.system.defaultStance}}
					{{/each}}
				</div>
			{{/if}}
		{{/each}}
	</div>
</section>