<div class="attribute {{class}}">
	{{#if max}}<span class="attribute-title">{{localize title}}</span>{{/if}}

	{{#if max}}
		<div class="attribute-input-container">
			<label class="attribute-label">
				{{localize maxTitle}}

				<input class="attribute-input"
				       name="{{maxDataPath}}"
				       value="{{max}}"
				       type="number"
				       placeholder="{{localize maxTitle}}" />
			</label>
		</div>
	{{/if}}

	<div class="attribute-input-container">
		<label class="attribute-label">
			{{#if max}}
				{{localize 'CHARACTER.Current'}}
			{{else}}
				{{localize title}}
			{{/if}}

			<input class="attribute-input"
			       name="{{valueDataPath}}"
			       value="{{value}}"
			       type="number"
			       placeholder="{{#if max}}{{localize 'CHARACTER.Current'}}{{else}}{{localize title}}{{/if}}" />
		</label>
	</div>
</div>