<div class="attribute {{class}}">
	<span class="attribute-title">{{localize title}}</span>

	<div class="attribute-input-container">
		<label class="attribute-label">{{localize maxTitle}}</label>
		<input class="attribute-input"
		       name="{{dataPath}}.max"
		       value="{{max}}"
		       type="number"
		       placeholder="{{localize maxTitle}}" />
	</div>

	<div class="attribute-input-container">
		<label class="attribute-label">{{localize 'Current'}}</label>
		<input class="attribute-input"
		       name="{{dataPath}}.value"
		       value="{{value}}"
		       type="number"
		       placeholder="{{localize 'Current'}}" />
	</div>
</div>