{{#with (lookup @root.characteristics char) as |charac|}}
	<div class="characteristic">
		<a class="characteristic-title" data-characteristic="{{../char}}">{{localize charac.name}}</a>
		
		<div class="characteristic-input-container">
			<input class="characteristic-rating-input"
			       name="system.characteristics.{{../char}}.rating"
			       value="{{../characteristic.rating}}"
			       type="number"
			       placeholder="{{localize charac.abbreviation}}" />
			
			<input class="characteristic-fortune-input"
			       name="system.characteristics.{{../char}}.fortune"
			       value="{{../characteristic.fortune}}"
			       type="number"
			       placeholder="{{localize 'CHARACTER.Fortune'}}" />
		</div>
	</div>
{{/with}}