<p class="origin-introduction">{{localize origin.introduction}}</p>

<ul>
	{{#each origin.abilities}}
		{{#with (lookup @root.originAbilities this)}}
			<li data-ability="{{_id}}">
				<strong>{{name}}:</strong> <span>{{{striptags system.description "p"}}}</span>
			</li>
		{{/with}}
	{{/each}}

	<li class="wound-threshold">
		<strong>{{localize "CHARACTERGENERATOR.WoundThreshold"}}</strong> <span>{{localize "CHARACTERGENERATOR.PlusToughnessRating" value=origin.wound}}</span>
	</li>

	<li class="corruption-threshold">
		<strong>{{localize "CHARACTERGENERATOR.CorruptionThreshold"}}</strong> <span>{{localize "CHARACTERGENERATOR.PlusToughnessRating" value=origin.corruption}}</span>
	</li>
</ul>
