<div class="characteristic">
	<span class="characteristic-title">{{localize (lookup (lookup @root.characteristics char) "name")}}</span>
		
	<div class="characteristic-input-container">
		<input class="characteristic-rating-input"
		       name="system.characteristics.{{char}}.rating"
		       value="{{characteristic.rating}}"
		       type="number"
		       placeholder="{{localize (lookup (lookup @root.characteristics char) "abbreviation")}}" />

		<input class="characteristic-fortune-input"
		       name="system.characteristics.{{char}}.fortune"
		       value="{{characteristic.fortune}}"
		       type="number"
		       placeholder="{{localize 'CHARACTER.Fortune'}}" />
	</div>
</div>