<div class="action-tabs tabs" data-group="actions">
	{{#each actions as |type ty|}}
		<a class="tab-link {{ty}}{{#if @first}} active{{/if}}" data-tab="{{ty}}">
			{{localize (lookup @root.actionTypes ty)}}
		</a>
	{{/each}}
</div>

<div class="actions body">
	{{#each actions as |type ty|}}
		<div class="action-container item-container tab {{ty}}{{#if @first}} active{{/if}}"
             data-group="actions"
             data-tab="{{ty}}">
			{{#each type}}
				<label>
					{{>systems/wfrp3e/templates/partials/item-action-card.hbs
							action=this
							currentStance="conservative"}}
	
					<input name="action" value="{{this._id}}" type="checkbox" />
				</label>
			{{/each}}
		</div>
	{{/each}}
</div>