<div class="characteristics">
	<h5>{{localize "CHARACTERGENERATOR.Characteristics"}}</h5>

	{{#each characteristics as |characteristic char|}}
		{{#unless (equalTo char "varies")}}
			<div>
				<h6>{{localize characteristic.name}}</h6>

				<div>
					<button class="decrement-characteristic">
						<span class="fa fa-minus"></span>
					</button>

					<input name="{{char}}" type="number" value="{{lookup @root.defaultRatings char}}" min="{{lookup @root.defaultRatings char}}" max="5"/>

					<button class="increment-characteristic">
						<span class="fa fa-plus"></span>
					</button>
				</div>
			</div>
		{{/unless}}
	{{/each}}
</div>

<div class="wealth">
	<h5>{{localize "CHARACTERGENERATOR.Wealth"}}</h5>

	{{#for 0 4 1}}
		<label {{#if (equalTo this 0)}}class="active"{{/if}}>
			{{#if (equalTo this 0)}}
				Broke
			{{else}}
				{{#if (equalTo this 1)}}
					Poor
				{{else}}
					{{#if (equalTo this 2)}}
						Comfortable
					{{else}}
						{{#if (equalTo this 3)}}
							Affluent
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
			<input name="wealth" value="{{this}}" type="radio" {{#if (equalTo this 0)}}checked{{/if}} />
		</label>
	{{/for}}
</div>

<div class="skills">
	<h5>{{localize "CHARACTERGENERATOR.Skills"}}</h5>

	{{#for 0 4 1}}
		<label {{#if (equalTo this 0)}}class="active"{{/if}}>
			{{#if (equalTo this 0)}}
				1
			{{else}}
				{{#if (equalTo this 1)}}
					2
				{{else}}
					{{#if (equalTo this 2)}}
						3 + 1 specialisation
					{{else}}
						{{#if (equalTo this 3)}}
							4 + 2 specialisations
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
			<input name="skills" value="{{this}}" type="radio" {{#if (equalTo this 0)}}checked{{/if}} />
		</label>
	{{/for}}
</div>

<div class="talents">
	<h5>{{localize "CHARACTERGENERATOR.Talents"}}</h5>

	{{#for 0 4 1}}
		<label {{#if (equalTo this 0)}}class="active"{{/if}}>
			{{#if (equalTo this 0)}}
				0
			{{else}}
				{{#if (equalTo this 1)}}
					1
				{{else}}
					{{#if (equalTo this 2)}}
						2
					{{else}}
						{{#if (equalTo this 3)}}
							3
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
			<input name="talents" value="{{this}}" type="radio" {{#if (equalTo this 0)}}checked{{/if}} />
		</label>
	{{/for}}
</div>

<div class="actions">
	<h5>{{localize "CHARACTERGENERATOR.Actions"}}</h5>

	{{#for 0 4 1}}
		<label {{#if (equalTo this 0)}}class="active"{{/if}}>
			{{#if (equalTo this 0)}}
				1
			{{else}}
				{{#if (equalTo this 1)}}
					2
				{{else}}
					{{#if (equalTo this 2)}}
						3
					{{else}}
						{{#if (equalTo this 3)}}
							4
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
			<input name="actions" value="{{this}}" type="radio" {{#if (equalTo this 0)}}checked{{/if}} />
		</label>
	{{/for}}
</div>