<div class="talent-tabs tabs" data-group="talents">
	{{#if talentsInvestment}}
		<a class="tab-link active" data-tab="focus">{{localize 'TALENT.TYPE.Focus'}}</a>
		<a class="tab-link" data-tab="reputation">{{localize 'TALENT.TYPE.Reputation'}}</a>
		<a class="tab-link" data-tab="tactic">{{localize 'TALENT.TYPE.Tactic'}}</a>
		<a class="tab-link" data-tab="trick">{{localize 'TALENT.TYPE.Tricks'}}</a>
	{{else}}
		{{#if highElf}}
			<a class="tab-link active" data-tab="focus">{{localize 'TALENT.TYPE.Focus'}}</a>
		{{/if}}
	{{/if}}

	{{#if priest}}
		<a class="tab-link{{#unless talentInvestment}} active{{/unless}}" data-tab="faith">{{localize 'TALENT.TYPE.Faith'}}</a>
	{{/if}}

	{{#if wizard}}
		<a class="tab-link{{#unless talentInvestment}} active{{/unless}}" data-tab="order">{{localize 'TALENT.TYPE.Order'}}</a>
	{{/if}}

	{{#if zealot}}
		<a class="tab-link{{#unless talentInvestment}} active{{/unless}}" data-tab="insanity">{{localize 'TALENT.TYPE.Insanity'}}</a>
	{{/if}}
</div>

<div class="talents">
	{{#if talentsInvestment}}
		<div class="tab active" data-group="talents" data-tab="focus">
			{{#each talents.focus}}
				<label>
					{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
					<input name="talent" value="{{this._id}}" type="checkbox" />
				</label>
			{{/each}}
		</div>

		<div class="tab" data-group="talents" data-tab="reputation">
			{{#each talents.reputation}}
				<label>
					{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
					<input name="talent" value="{{this._id}}" type="checkbox" />
				</label>
			{{/each}}
		</div>

		<div class="tab" data-group="talents" data-tab="tactic">
			{{#each talents.tactic}}
				<label>
					{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
					<input name="talent" value="{{this._id}}" type="checkbox" />
				</label>
			{{/each}}
		</div>

		<div class="tab" data-group="talents" data-tab="trick">
			{{#each talents.tricks}}
				<label>
					{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
					<input name="talent" value="{{this._id}}" type="checkbox" />
				</label>
			{{/each}}
		</div>
	{{else}}
		{{#if highElf}}
			<div class="tab active" data-group="talents" data-tab="focus">
				{{#each talents.focus}}
					<label>
						{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
						<input name="talent" value="{{this._id}}" type="checkbox" />
					</label>
				{{/each}}
			</div>
		{{/if}}
	{{/if}}

	{{#if priest}}
		<div class="tab{{#unless talentInvestment}} active{{/unless}}" data-group="talents" data-tab="faith">
			{{#each talents.faith}}
				<label>
					{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
					<input name="talent" value="{{this._id}}" type="checkbox" />
				</label>
			{{/each}}
		</div>
	{{/if}}

	{{#if wizard}}
		<div class="tab{{#unless talentInvestment}} active{{/unless}}" data-group="talents" data-tab="order">
			{{#each talents.order}}
				<label>
					{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
					<input name="talent" value="{{this._id}}" type="checkbox" />
				</label>
			{{/each}}
		</div>
	{{/if}}

	{{#if zealot}}
		<div class="tab{{#unless talentInvestment}} active{{/unless}}" data-group="talents" data-tab="insanity">
			{{#each insanities}}
				<label class="insanity-card card">
					<div class="insanity-card-header">
						<span class="insanity-card-name">{{this.name}}</span>
						<div class="insanity-card-traits">{{this.system.traits}}</div>
					</div>
					<div class="insanity-card-content">
						<div class="insanity-card-effects">{{{this.system.effects}}}</div>
						<blockquote class="insanity-card-description">{{this.system.description}}</blockquote>
						<div class="insanity-card-severity-rating">{{this.system.severityRating}}</div>
					</div>
					<input name="insanity" value="{{this._id}}" type="checkbox"/>
				</label>
			{{/each}}
		</div>
	{{/if}}
</div>