<div>
	<h5>{{localize "CHARACTERGENERATOR.Origin"}}</h5>

	<div class="origin">
		<div>
			<img src="{{origin.art}}" alt="{{localize origin.name}}" />
			<h6>{{localize origin.name}}</h6>
		</div>

		<ul>
			{{#each origin.abilities}}
				{{#with (lookup @root.originAbilities this)}}
					<li data-ability="{{_id}}">
						<strong>{{name}}:</strong> <span>{{{striptags system.description "p"}}}</span>
					</li>
				{{/with}}
			{{/each}}

			<li class="wound-threshold">
				<strong>{{localize "CHARACTERGENERATOR.WoundThreshold"}}</strong> <span>{{localize "CHARACTERGENERATOR.PlusToughnessRating" value=origin.wound}}</span>
			</li>

			<li class="corruption-threshold">
				<strong>{{localize "CHARACTERGENERATOR.CorruptionThreshold"}}</strong> <span>{{localize "CHARACTERGENERATOR.PlusToughnessRating" value=origin.corruption}}</span>
			</li>
		</ul>
	</div>
</div>

<div>
	<h5>{{localize "CHARACTERGENERATOR.Career"}}</h5>

	{{>systems/wfrp3e/templates/partials/item-career-sheet.hbs career=career}}
</div>

<div>
	<h5>{{localize "CHARACTERGENERATOR.Characteristics"}}</h5>

	<div class="characteristics">
		{{#each characteristicRatings as |rating char|}}
			{{#with (lookup @root.characteristics char) as |characteristic|}}
				<div>
					<h6>{{localize characteristic.name}}</h6>

					<div>{{rating}}</div>
				</div>
			{{/with}}
		{{/each}}
	</div>
</div>

<div>
	<h5>{{localize "CHARACTERGENERATOR.Skills"}}</h5>

	<table class="skills">
		<thead>
			<tr>
				<th class="left-aligned skill-acquired">{{localize "CHARACTERGENERATOR.Acquired"}}</th>
				<th class="center-aligned skill-characteristic">{{localize "CHARACTERGENERATOR.Characteristic"}}</th>
				<th class="center-aligned skill-training-level">{{localize "CHARACTERGENERATOR.TrainingLevel"}}</th>
				<th class="left-aligned skill-specialisations">{{localize "CHARACTERGENERATOR.Specialisations"}}</th>
			</tr>
		</thead>

		<tbody>
			{{#each careerSkills}}
				<tr data-skill-id="{{this._id}}">
					<td class="left-aligned skill-acquired">
						<label>
							<input name="{{this._id}}_acquisition" type="checkbox"
								{{#unless this.system.advanced}}
									checked
								{{else}}
									{{#if (lookup (lookup @root.skills this._id) "acquired")}}
										checked
									{{/if}}
								{{/unless}} disabled />
							{{this.name}}
						</label>
					</td>
					<td class="center-aligned shrinked skill-characteristic">
						{{localize (lookup (lookup @root.characteristics this.system.characteristic) "name")}}
					</td>
					<td class="center-aligned skill-training-level">
						<input name="{{this._id}}_trainingLevel" value="1" type="checkbox"
							{{#if (superiorOrEqualTo (lookup (lookup @root.skills this._id) "trainingLevel") 1)}}
								checked
							{{/if}} disabled />
						<input name="{{this._id}}_trainingLevel" value="2" type="checkbox" disabled />
						<input name="{{this._id}}_trainingLevel" value="3" type="checkbox" disabled />
					</td>
					<td class="left-aligned skill-specialisations">
						<input name="{{this._id}}_specialisations" type="text" value="{{lookup (lookup @root.skills this._id) 'specialisations'}}" disabled />
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

{{#if talents}}
	<div>
		<h5>{{localize "CHARACTERGENERATOR.Talents"}}</h5>

		<div class="talents">
			{{#each talents}}
				{{>systems/wfrp3e/templates/partials/character-generator-talent-card.hbs talent=this}}
			{{/each}}
		</div>
	</div>
{{/if}}

<div>
	<h5>{{localize "CHARACTERGENERATOR.Actions"}}</h5>

	<div class="actions">
		{{#each actions}}
			{{>systems/wfrp3e/templates/partials/item-action-card.hbs action=this currentStance="conservative"}}
		{{/each}}
	</div>
</div>