<div class="impairment">
	<a class="token" data-impairment="{{impairment}}" data-tooltip="{{localize (concat "CHARACTER.IMPAIRMENT." (capitalize impairment) "Tokens")}}">
		<img src="{{tokenPath}}" alt="{{localize (concat "CHARACTER.IMPAIRMENT." (capitalize impairment) "Tokens")}}" />
		<span class="token-counter">{{lookup actor.system.impairments impairment}}</span>
	</a>

	<span class="title">{{localize (concat "CHARACTER.IMPAIRMENT." (capitalize impairment))}}</span>
</div>