<div class="item action-card" data-item-id="{{action._id}}">
	{{#each @root.stances as |stance st|}}
		<div class="face {{st}}{{#if (equalTo @root.actor.system.defaultStance st)}} active{{/if}}" data-face="{{st}}">
			<div class="action-card-header">
				<img class="action-card-type" src="systems/wfrp3e/assets/icons/{{../action.system.type}}.webp" />

				<div class="action-card-difficulty-modifiers">
					{{#for 0 (lookup (lookup (lookup ../action.system st) 'difficultyModifiers') 'challengeDice') 1}}
						<span class="wfrp3e-font dice challenge"></span>
					{{/for}}

					{{#for 0 (lookup (lookup (lookup ../action.system st) 'difficultyModifiers') 'misfortuneDice') 1}}
						<span class="wfrp3e-font dice misfortune"></span>
					{{/for}}
				</div>

				<a class="action-card-name item-name-link">{{lookup (lookup ../action.system st) 'name'}}</a>
				<span class="action-card-traits">{{lookup (lookup ../action.system st) 'traits'}}</span>
				<span class="action-card-recharge-rating">{{lookup (lookup ../action.system st) 'rechargeRating'}}</span>
			</div>

			<div class="action-card-check">{{lookup (lookup ../action.system st) 'check'}}</div>

			{{#if (lookup (lookup ../action.system st) 'art')}}
				<img class="action-card-art-image" src="{{lookup (lookup ../action.system st) 'art'}}" />
			{{/if}}

			<div class="action-card-requirements">{{{lookup (lookup ../action.system st) 'requirements'}}}</div>

			<div class="action-card-effects">
				<table>
					<tbody>
						{{#if (lookup (lookup ../action.system st) 'special')}}
							<tr><td>{{{striptags (lookup (lookup ../action.system st) 'special') 'p'}}}</td></tr>
						{{/if}}

						{{#if (lookup (lookup ../action.system st) 'uniqueEffect')}}
							<tr><td>{{{striptags (lookup (lookup ../action.system st) 'uniqueEffect') 'p'}}}</td></tr>
						{{/if}}

						{{#each @root.symbols as |symbol sym|}}
							{{#if (lookup (lookup (lookup ../../action.system st) 'effects') sym)}}
								<tr><td>
									{{#each (lookup (lookup (lookup ../../action.system st) 'effects') sym) as |effect ef|}}
										<div>
											{{#for 0 effect.symbolAmount 1}}
												<span class="wfrp3e-font symbol {{symbol.cssClass}}"></span>
											{{/for}}

											{{{striptags effect.description 'p'}}}
										</div>
									{{/each}}
								</td></tr>
							{{/if}}
						{{/each}}
					</tbody>
				</table>

				<div class="action-card-bottom-line">
					<a class="flip-link" title="{{localize 'Flip Card'}}">
						<span class="fas fa-undo"></span>
					</a>

					<a class="recharge-token" title="{{localize "ACTION.RechargeTokens"}}">
						<img src="systems/wfrp3e/assets/images/token-black.webp" alt="{{localize "ACTION.RechargeTokens"}}" />
						<span class="recharge-token-counter">{{../action.system.rechargeTokens}}</span>
					</a>

					{{#if @root.document.isOwner}}
						<a class="item-delete-link" title="{{localize 'APPLICATION.TITLE.DeleteItem'}}">
							<span class="fas fa-trash"></span>
						</a>
					{{/if}}
				</div>
			</div>
		</div>
	{{/each}}
</div>