<div class="item talent-card" data-item-id="{{talent._id}}">
	<span class="talent-card-type {{talent.system.type}}">{{localize talent.system.type}}</span>
	<a class="talent-card-name item-name-link">{{talent.name}}</a>
	<div class="talent-card-content">{{{talent.system.description}}}</div>

	<div class="talent-card-bottom">
		<a class="recharge-token" data-tooltip="{{localize "TALENT.FIELDS.rechargeTokens.label"}}">
			<img src="systems/wfrp3e/assets/images/token-grey.webp" alt="{{localize "TALENT.FIELDS.rechargeTokens.label"}}" />
			<span class="recharge-token-counter">{{{talent.system.rechargeTokens}}}</span>
		</a>

		{{#if @root.document.isOwner}}
			<a class="item-delete-link" data-tooltip="{{localize 'APPLICATION.TITLE.DeleteItem'}}">
				<span class="fas fa-trash"></span>
			</a>
		{{/if}}
	</div>
</div>