<tr class="item armour-row" data-item-id="{{money._id}}">
	<td class="left-aligned">
		<a class="item-name-link">{{money.name}}</a>
	</td>

	<td class="center-aligned">
		<span class="money-value">{{money.system.value}}</span>
	</td>

	<td class="center-aligned">
		<span class="money-quantity quantity-link">{{money.system.quantity}}</span>
	</td>

	{{#>if @root.document.isOwner}}
		<td class="shrinked">
			<a class="item-delete-link" title="{{localize 'APPLICATION.TITLE.DeleteItemConfirmation'}}"><span class="fas fa-trash"></span></a>
		</td>
	{{/if}}
</tr>