<div class="item skill row" data-item-id="{{skill._id}}">
	<div class="content">
		<span class="skill-name">
			<a class="item-name-link">{{skill.name}}</a>
		</span>

		<span class="skill-characteristic">
			{{localize (lookup (lookup @root.characteristics skill.system.characteristic) "abbreviation")}}
		</span>

		<span class="skill-training-level">
			<input class="skill-training-level-input"
			       name="skill.system.training-level"
			       value="1"
			       type="checkbox"
				{{#if (superiorOrEqualTo skill.system.trainingLevel 1)}} checked{{/if}} />

			<input class="skill-training-level-input"
			       name="skill.system.training-level"
			       value="2"
			       type="checkbox"
				{{#if (superiorOrEqualTo skill.system.trainingLevel 2)}} checked{{/if}} />

			<input class="skill-training-level-input"
			       name="skill.system.training-level"
			       value="3"
			       type="checkbox"
				{{#if (superiorOrEqualTo skill.system.trainingLevel 3)}} checked{{/if}} />
		</span>

		<div class="buttons">
			<a class="item-roll-link" data-tooltip="{{localize 'APPLICATION.BUTTON.RollItem'}}">
				<span class="fas fa-dice-d20"></span>
			</a>

			<a class="item-expand-link" data-tooltip="{{localize 'APPLICATION.BUTTON.Expand'}}">
				<span class="fas fa-chevron-down"></span>
			</a>

			{{#if @root.document.isOwner}}
				<a class="item-edit-link" data-tooltip="{{localize 'APPLICATION.TITLE.EditItem'}}">
					<span class="fas fa-pen-to-square"></span>
				</a>

				<a class="item-delete-link" data-tooltip="{{localize 'APPLICATION.TITLE.DeleteItem'}}">
					<span class="fas fa-trash"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>