<div class="item disease-partial" data-item-id="{{disease._id}}">
	<div class="disease-card card">
		<div class="disease-card-header">
			<a class="disease-card-name item-name-link">{{disease.name}}</a>
			<div class="disease-card-traits">{{disease.system.traits}}</div>
		</div>

		<div class="disease-card-content">
			<div class="disease-card-effects">{{{disease.system.effects}}}</div>
			<blockquote class="disease-card-description">{{disease.system.description}}</blockquote>
			<div class="disease-card-symptom">{{{localize (lookup (lookup @root.diseaseSymptoms disease.symptom) "name")}}}</div>
			<div class="disease-card-severity-rating">{{disease.system.severityRating}}</div>
		</div>

		{{#if @root.document.isOwner}}
			<a class="item-delete-link" title="{{localize 'DIALOG.TITLE.DeleteItem'}}"><span class="fas fa-trash"></span></a>
		{{/if}}
	</div>
</div>