<div class="item trapping row" data-item-id="{{trapping._id}}">
	<div class="content">
		<a class="trapping-name item-name-link">{{trapping.name}}</a>

		<hr />

		<span class="encumbrance">{{trapping.system.encumbrance}}</span>

		<hr />

		<div class="buttons">
			<a class="item-expand-link" title="{{localize 'APPLICATION.BUTTON.Expand'}}">
				<span class="fas fa-chevron-down"></span>
			</a>
			
			{{#>if @root.document.isOwner}}
				<a class="item-edit-link" title="{{localize 'APPLICATION.TITLE.EditItem'}}">
					<span class="fas fa-pen-to-square"></span>
				</a>

				<a class="item-delete-link" title="{{localize 'APPLICATION.TITLE.DeleteItem'}}">
					<span class="fas fa-trash"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>