<div class="career-partial item" data-item-id="{{career._id}}">
        {{>systems/wfrp3e/templates/partials/item-career-sheet.hbs career=career}}

	<div class="career-advancement">
		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Action"}}</label>
			<input class="form-input" name="career.system.advances.action" type="text" value="{{career.system.advances.action}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Talent"}}</label>
			<input class="form-input" name="career.system.advances.talent" type="text" value="{{career.system.advances.talent}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Skill"}}</label>
			<input class="form-input" name="career.system.advances.talent" type="text" value="{{career.system.advances.skill}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Wound"}}</label>
			<input class="form-input" name="career.system.advances.talent" type="text" value="{{career.system.advances.wound}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Open"}}</label>
			<input class="form-input" name="career.system.advances.open.0" type="text" value="{{career.system.advances.open.[0]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Open"}}</label>
			<input class="form-input" name="career.system.advances.open.1" type="text" value="{{career.system.advances.open.[1]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Open"}}</label>
			<input class="form-input" name="career.system.advances.open.2" type="text" value="{{career.system.advances.open.[2]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Open"}}</label>
			<input class="form-input" name="career.system.advances.open.3" type="text" value="{{career.system.advances.open.[3]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Open"}}</label>
			<input class="form-input" name="career.system.advances.open.4" type="text" value="{{career.system.advances.open.[4]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Open"}}</label>
			<input class="form-input" name="career.system.advances.open.5" type="text" value="{{career.system.advances.open.[5]}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.CareerTransition"}}</label>
			<input class="form-input" name="career.system.advances.careerTransition.cost" type="checkbox" value="1" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.career-transition.cost 1)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.careerTransition.cost" type="checkbox" value="2" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.career-transition.cost 2)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.careerTransition.cost" type="checkbox" value="3" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.career-transition.cost 3)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.careerTransition.cost" type="checkbox" value="4" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.career-transition.cost 4)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.careerTransition.cost" type="checkbox" value="5" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.career-transition.cost 5)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.careerTransition.newCareer" type="text" value="{{career.system.advances.career-transition.new-career}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.DedicationBonus"}}</label>
			<input class="form-input" name="career.system.advances.dedication-bonus" type="text" value="{{career.system.advances.dedication-bonus}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Type"}}</label>
			<input class="form-input" name="career.system.advances.nonCareer.0.cost" type="checkbox" value="1" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 1)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.0.cost" type="checkbox" value="2" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 2)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.0.cost" type="checkbox" value="3" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 3)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.0.cost" type="checkbox" value="4" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 4)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.0.cost" type="checkbox" value="5" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[0].cost 5)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.0.nature" type="text" value="{{career.system.advances.non-career.0.nature}}" />
		</div>

		<div class="form-div">
			<label class="form-select">{{localize "CAREER.ADVANCE.Type"}}</label>
			<input class="form-input" name="career.system.advances.nonCareer.1.cost" type="checkbox" value="1" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 1)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.1.cost" type="checkbox" value="2" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 2)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.1.cost" type="checkbox" value="3" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 3)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.1.cost" type="checkbox" value="4" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 4)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.1.cost" type="checkbox" value="5" data-dtype="Number"{{#if (superiorOrEqualTo career.system.advances.non-career.[1].cost 5)}} checked{{/if}} />
			<input class="form-input" name="career.system.advances.nonCareer.1.nature" type="text" value="{{career.system.advances.non-career.1.nature}}" />
		</div>
	</div>
</div>