<tr class="item armour-row" data-item-id="{{trapping._id}}">
	<td class="left-aligned">
		<a class="item-name-link">{{trapping.name}}</a>
	</td>

	<td class="left-aligned">
		<span class="trapping-row-description">{{{trapping.system.description}}}</span>
	</td>

	<td class="center-aligned">
		<span class="trapping-row-encumbrance">{{trapping.system.encumbrance}}</span>
	</td>

	{{#>if @root.document.isOwner}}
		<td class="shrinked">
			<a class="item-delete-link" title="{{localize 'APPLICATION.TITLE.DeleteItemConfirmation'}}"><span class="fas fa-trash"></span></a>
		</td>
	{{/if}}
</tr>