<div class="item action-card" data-item-id="{{action._id}}">
	{{#each @root.stances as |stance st|}}
		{{#with (lookup ../action.system st) as |face|}}
			<div class="face {{st}}{{#if (equalTo ../../currentStance st)}} active{{/if}}" data-face="{{st}}">
				<div class="action-card-header">
					<img class="action-card-type" src="systems/wfrp3e/assets/icons/{{../../action.system.type}}.webp" />

					<div class="action-card-difficulty-modifiers">
						{{#for 0 face.difficultyModifiers.challengeDice 1}}
							<span class="wfrp3e-font dice challenge"></span>
						{{/for}}

						{{#for 0 face.difficultyModifiers.misfortuneDice 1}}
							<span class="wfrp3e-font dice misfortune"></span>
						{{/for}}
					</div>

					<a class="action-card-name item-name-link">{{face.name}}</a>
					<span class="action-card-traits">{{face.traits}}</span>
					<span class="action-card-recharge-rating">{{face.rechargeRating}}</span>
				</div>

				<div class="action-card-check">{{face.check}}</div>

				{{#if face.art}}
					<img class="action-card-art-image" src="{{face.art}}" />
				{{/if}}

				<div class="action-card-requirements">{{{face.requirements}}}</div>

				<div class="action-card-effects">
					<table>
						<tbody>
							{{#if face.special}}
								<tr><td>{{{striptags face.special "p"}}}</td></tr>
							{{/if}}

							{{#if face.uniqueEffect}}
								<tr><td>{{{striptags face.uniqueEffect "p"}}}</td></tr>
							{{/if}}

							{{#each @root.symbols as |symbol sym|}}
								{{#with (lookup face.effects sym) as |effects|}}
									{{#if effects}}
										<tr><td>
											{{#each effects as |effect ef|}}
												<div>
													{{#for 0 effect.symbolAmount 1}}
														{{#unless (and (or (sameAs sym "delay") (sameAs sym "exertion")) (superiorTo this 0))}}
															<span class="wfrp3e-font symbol {{symbol.cssClass}}"></span>
														{{else}}
															<span class="wfrp3e-font symbol {{@root.symbols.bane.cssClass}}"></span>
														{{/unless}}
													{{/for}}

													{{{striptags effect.description "p"}}}
												</div>
											{{/each}}
										</td></tr>
									{{/if}}
								{{/with}}
							{{/each}}
						</tbody>
					</table>

					<div class="action-card-bottom-line">
						<a class="flip-link" data-tooltip="{{localize "Flip Card"}}">
							<span class="fas fa-undo"></span>
						</a>

						{{#if @root.document.isOwner}}
							<a class="recharge-token" data-tooltip="{{localize "ACTION.FIELDS.rechargeTokens.label"}}">
								<img src="systems/wfrp3e/assets/images/token-black.webp" alt="{{localize "ACTION.FIELDS.rechargeTokens.label"}}" />
								<span class="recharge-token-counter">{{../../action.system.rechargeTokens}}</span>
							</a>

							<a class="item-delete-link" data-tooltip="{{localize 'APPLICATION.TITLE.DeleteItem'}}">
								<span class="fas fa-trash"></span>
							</a>
						{{/if}}
					</div>
				</div>
			</div>
		{{/with}}
	{{/each}}
</div>