<div class="career-partial item" data-item-id="{{career._id}}">
	{{>systems/wfrp3e/templates/partials/item-career-sheet.hbs career=career}}

	<div class="career-advancement">
		<div>
			<h4>{{localize "CAREER.FIELDS.advances.generalCareer"}}</h4>

			<div class="career-form-div">
				<input class="advance-checkbox"
				       type="checkbox"
				       data-type="action"
					{{#if career.system.advances.action}} checked{{/if}} />

				<label class="form-label">
					{{localize "CAREER.FIELDS.advances.action"}}:

					<input class="item-input"
					       data-path="system.advances.action"
					       value="{{career.system.advances.action}}"
					       type="text" />
				</label>
			</div>

			<div class="career-form-div">
				<input class="advance-checkbox"
					   type="checkbox"
					   data-type="talent"
					{{#if career.system.advances.talent}} checked{{/if}} />

				<label class="form-label">
					{{localize "CAREER.FIELDS.advances.talent"}}:

					<input class="item-input"
					       data-path="system.advances.talent"
					       value="{{career.system.advances.talent}}"
					       type="text" />
				</label>
			</div>

			<div class="career-form-div">
				<input class="advance-checkbox"
				       type="checkbox"
				       data-type="skill"
					{{#if career.system.advances.skill}} checked{{/if}} />

				<label class="form-label">
					{{localize "CAREER.FIELDS.advances.skill"}}:

					<input class="item-input"
					       data-path="system.advances.skill"
					       value="{{career.system.advances.skill}}"
					       type="text" />
				</label>
			</div>

			<div class="career-form-div">
				<input class="advance-checkbox"
					   type="checkbox"
					   data-type="wound"
					{{#if career.system.advances.wound}} checked{{/if}} />

				<label class="form-label">
					{{localize "CAREER.FIELDS.advances.wound"}}:

					<input class="item-input"
					       data-path="system.advances.wound"
					       value="{{career.system.advances.wound}}"
					       type="text" />
				</label>
			</div>

			{{#each career.system.advances.open as |openAdvance opa|}}
				<div class="career-form-div">
					<input class="advance-checkbox"
					       type="checkbox"
					       data-type="{{opa}}"
						{{#if openAdvance}} checked{{/if}} />

					<label class="form-label">
						{{localize "CAREER.FIELDS.advances.open"}}:

						<input class="item-input"
						       value="{{openAdvance}}"
						       data-path="system.advances.open"
						       type="text"
						       data-index="{{opa}}" />
					</label>
				</div>
			{{/each}}
		</div>

		<div>
			<h4>{{localize "CAREER.FIELDS.advances.careerCompletion"}}</h4>

			<div class="career-form-div">
				{{#for 1 6 1}}
					<input class="advance-checkbox"
					       value="{{this}}"
					       data-path="system.advances.careerTransition.cost"
					       type="checkbox"
					       data-type="careerTransition"
						{{#if (superiorOrEqualTo ../career.system.advances.careerTransition.cost this)}} checked{{/if}} />
				{{/for}}

				<label class="form-label">
					{{localize "CAREER.FIELDS.advances.careerTransition"}}:

					<input class="item-input"
					       data-path="system.advances.careerTransition.newCareer"
					       value="{{career.system.advances.careerTransition.newCareer}}"
					       type="text" />
				</label>
			</div>

			<div class="career-form-div">
				<input class="advance-checkbox"
				       data-path="system.advances.nonCareer"
				       type="checkbox"
				       data-type="dedicationBonus"
					{{#if career.system.advances.dedicationBonus}} checked{{/if}} />

				<label class="form-label">
					{{localize "CAREER.FIELDS.advances.dedicationBonus"}}

					<input class="item-input"
					       data-path="system.advances.dedicationBonus"
					       value="{{career.system.advances.dedicationBonus}}"
					       type="text" />
				</label>
			</div>
		</div>

		<div>
			<h4>{{localize "CAREER.FIELDS.advances.nonCareer"}}</h4>

			{{#each career.system.advances.nonCareer as |nonCareerAdvance nca|}}
				<div class="career-form-div">
					{{#for 1 6 1}}
						<input class="advance-checkbox"
						       data-path="system.advances.nonCareer"
						       value="{{this}}"
						       type="checkbox"
						       data-index="{{nca}}"
						       data-property="cost"
						       data-type="nonCareer"
							{{#if (superiorOrEqualTo nonCareerAdvance.cost this)}} checked{{/if}} />
					{{/for}}

					<label class="form-label">
						{{localize "CAREER.FIELDS.advances.type"}}:

						<input class="item-input"
						       data-path="system.advances.nonCareer"
						       value="{{nonCareerAdvance.type}}"
						       type="text"
						       data-index="{{nca}}"
						       data-property="type"
						       data-type="nonCareer" />
					</label>
				</div>
			{{/each}}
		</div>
	</div>
</div>