<div class="item weapon row" data-item-id="{{weapon._id}}">
	<div class="content">
		<span class="weapon-name">
			<a class="item-name-link">{{weapon.name}}</a>
		</span>

		<hr />

		<span class="weapon-damage-rating">
			{{weapon.system.damageRating}}
		</span>

		<hr />

		<span class="weapon-critical-rating">
			{{weapon.system.criticalRating}}
		</span>

		<hr />

		<span class="weapon-range">
			{{localize (lookup @root.weaponRanges weapon.system.range)}}
		</span>

		<hr />

		<span class="weapon-qualities">
			{{#each weapon.system.qualities}}
				{{localize (lookup @root.weaponQualities this.name) "name"}}{{#unless @last}}, {{else}}{{#if ../weapon.system.special}}, {{/if}}{{/unless}}
			{{/each}}

			{{#if weapon.system.special}}
				{{localize "WEAPON.QUALITIES.special"}}
			{{/if}}
		</span>

		<hr />

		<span class="weapon-group">
			{{localize (lookup (lookup @root.weaponGroups weapon.system.group) "name")}}
		</span>

		<hr />

		<span class="encumbrance">
			{{weapon.system.encumbrance}}
		</span>

		<hr />

		<div class="buttons">
			<a class="item-roll-link" data-tooltip="{{localize 'APPLICATION.BUTTON.RollItem'}}">
				<span class="fas fa-dice-d20"></span>
			</a>

			<a class="item-expand-link" data-tooltip="{{localize 'APPLICATION.BUTTON.Expand'}}">
				<span class="fas fa-chevron-down"></span>
			</a>

			{{#>if @root.document.isOwner}}
				<a class="item-edit-link" data-tooltip="{{localize 'APPLICATION.BUTTON.EditItem'}}">
					<span class="fas fa-pen-to-square"></span>
				</a>

				<a class="item-delete-link" data-tooltip="{{localize 'APPLICATION.BUTTON.DeleteItem'}}">
					<span class="fas fa-trash"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>