<div class="item condition-partial" data-item-id="{{condition._id}}">
	<div class="condition-card card">
		<div class="condition-card-header">
			<a class="condition-card-name item-name-link">{{condition.name}}</a>
		</div>
		<div class="condition-card-duration">{{localize (lookup @root.conditionDurations condition.system.duration)}}</div>
		<div class="condition-card-description">{{{condition.system.description}}}</div>

		{{#>if (lookup . document.isOwner)}}
			<a class="item-delete-link" title="{{localize 'DIALOG.TITLE.DeleteItem'}}"><span class="fas fa-trash"></span></a>
		{{/if}}
	</div>
</div>