<div class="item trapping row" data-item-id="{{trapping._id}}">
	<div class="content">
        <span class="trapping-name">
            <a class="item-name-link">{{trapping.name}}</a>
        </span>

		<hr />

		<span class="encumbrance">{{trapping.system.encumbrance}}</span>

		<hr />

		<div class="buttons">
			<a class="item-expand-link" data-tooltip="{{localize 'APPLICATION.BUTTON.Expand'}}">
				<span class="fas fa-chevron-down"></span>
			</a>
			
			{{#>if @root.document.isOwner}}
				<a class="item-edit-link" data-tooltip="{{localize 'APPLICATION.TITLE.EditItem'}}">
					<span class="fas fa-pen-to-square"></span>
				</a>

				<a class="item-delete-link" data-tooltip="{{localize 'APPLICATION.TITLE.DeleteItem'}}">
					<span class="fas fa-trash"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>