<div class="item armour row" data-item-id="{{armour._id}}">
	<div class="content">
		<a class="item-name-link armour-image">
			<img src="{{armour.img}}" alt="{{armour.name}}" width="40" height="40" />
		</a>

		<a class="item-name-link armour-name">{{armour.name}}</a>

		<hr />

		<span class="armour-defence-value">
			{{armour.system.defenceValue}}
		</span>

		<hr />

		<span class="armour-soak-value">
			{{armour.system.soakValue}}
		</span>

		<hr />

		<span class="encumbrance">
			{{armour.system.encumbrance}}
		</span>

		<hr />

		<div class="buttons">
			<a class="item-expand-link" data-tooltip="{{localize 'APPLICATION.BUTTON.Expand'}}">
				<span class="fas fa-chevron-down"></span>
			</a>
			
			{{#>if @root.document.isOwner}}
				<a class="item-edit-link" data-tooltip="{{localize 'APPLICATION.TITLE.EditItem'}}">
					<span class="fas fa-pen-to-square"></span>
				</a>

				<a class="item-delete-link" data-tooltip="{{localize 'APPLICATION.TITLE.DeleteItem'}}">
					<span class="fas fa-trash"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>