<div class="item mutation-partial" data-item-id="{{mutation._id}}">
	<div class="mutation-card card">
		<div class="mutation-card-header">
			<a class="mutation-card-name item-name-link">{{mutation.name}}</a>
			<div class="mutation-card-traits">{{mutation.system.traits}}</div>
		</div>
		<div class="mutation-card-content">
			<div class="mutation-card-effects">{{{mutation.system.effects}}}</div>
			<blockquote class="mutation-card-description">{{mutation.system.description}}</blockquote>
			<div class="mutation-card-severity-rating">{{mutation.system.severityRating}}</div>
		</div>

		{{#>if @root.document.isOwner}}
			<a class="item-delete-link" title="{{localize 'APPLICATION.TITLE.DeleteItemConfirmation'}}"><span class="fas fa-trash"></span></a>
		{{/if}}
	</div>
</div>