<div class="trapping-cost">
	{{localize "TRAPPING.FIELDS.cost.label"}}

	<div class="form-div">
		<label class="brass">
			<span>{{localize "TRAPPING.FIELDS.cost.brass.label"}}: </span>

			<input name="system.cost.brass"
			       value="{{item.system.cost.brass}}"
			       type="number"
			       placeholder="{{localize 'TRAPPING.FIELDS.cost.brass.label'}}" />

			<span>{{localize "TRAPPING.FIELDS.cost.brass.abbreviation"}}</span>
		</label>

		<label class="silver">
			<span>{{localize "TRAPPING.FIELDS.cost.silver.label"}}: </span>

			<input name="system.cost.silver"
			       value="{{item.system.cost.silver}}"
			       type="number"
			       placeholder="{{localize 'TRAPPING.FIELDS.cost.silver.label'}}" />

			<span>{{localize "TRAPPING.FIELDS.cost.silver.abbreviation"}}</span>
		</label>

		<label class="gold">
			<span>{{localize "TRAPPING.FIELDS.cost.gold.label"}}: </span>

			<input name="system.cost.gold"
			       value="{{item.system.cost.gold}}"
			       type="number"
			       placeholder="{{localize 'TRAPPING.FIELDS.cost.gold.label'}}" />

			<span>{{localize "TRAPPING.FIELDS.cost.gold.abbreviation"}}</span>
		</label>
	</div>
</div>

<hr />

<div class="form-div">
	<label>
		{{localize "TRAPPING.FIELDS.encumbrance.label"}}:

		<input name="system.encumbrance"
		       value="{{item.system.encumbrance}}"
		       type="number"
		       placeholder="{{localize 'TRAPPING.Enc'}}" />
	</label>

	<label>
		{{localize "TRAPPING.FIELDS.rarity.label"}}:

		<select name="system.rarity">
			{{selectOptions rarities selected=item.system.rarity localize=true}}
		</select>
	</label>
</div>