<section class="trappings-tab tab" data-group="primary" data-tab="trappings">
	{{#if items.weapons}}
		<div class="weapon table">
			<div class="weapon table-header title">{{localize "CHARACTER.Weapons"}}</div>
	
			<div class="weapon table-header">
				<span class="weapon-name">{{localize "TRAPPING.Name"}}</span>
				<hr />
				<span class="weapon-damage-rating">{{localize "WEAPON.ABBREVIATION.DamageRating"}}</span>
				<hr />
				<span class="weapon-critical-rating">{{localize "WEAPON.ABBREVIATION.CriticalRating"}}</span>
				<hr />
				<span class="weapon-range">{{localize "WEAPON.Range"}}</span>
				<hr />
				<span class="weapon-qualities">{{localize "WEAPON.Qualities"}}</span>
				<hr />
				<span class="weapon-group">{{localize "WEAPON.Group"}}</span>
				<hr />
				<span class="encumbrance">{{localize "TRAPPING.ABBREVIATION.Encumbrance"}}</span>
				<hr />
				<span class="buttons"></span>
			</div>
	
			{{#each items.weapons as |weapon wp|}}
				{{>systems/wfrp3e/templates/partials/item-weapon-row.hbs weapon=weapon}}
				{{#unless @last}}<hr />{{/unless}}
			{{/each}}
		</div>
	{{/if}}

	{{#if items.armours}}
		<div class="armour table">
			<div class="armour table-header title">{{localize "CHARACTER.Armours"}}</div>
	
			<div class="armour table-header">
				<span class="armour-name">{{localize "TRAPPING.Name"}}</span>
				<hr />
				<span class="armour-defence-value">{{localize "ARMOUR.Defence"}}</span>
				<hr />
				<span class="armour-soak-value">{{localize "ARMOUR.Soak"}}</span>
				<hr />
				<span class="encumbrance">{{localize "TRAPPING.ABBREVIATION.Encumbrance"}}</span>
				<hr />
				<span class="buttons"></span>
			</div>
	
			{{#each items.armours as |armour arm|}}
				{{>systems/wfrp3e/templates/partials/item-armour-row.hbs armour=armour}}
				{{#unless @last}}<hr />{{/unless}}
			{{/each}}
		</div>
	{{/if}}

	{{#if items.trappings}}
		<div class="trapping table">
			<div class="trapping table-header title">{{localize "CHARACTER.Trappings"}}</div>
	
			<div class="trapping table-header">
				<span class="trapping-name">{{localize "TRAPPING.Name"}}</span>
				<hr />
				<span class="encumbrance">{{localize "TRAPPING.ABBREVIATION.Encumbrance"}}</span>
				<hr />
				<span class="buttons"></span>
			</div>
	
			{{#each items.trappings as |trapping trp|}}
				{{>systems/wfrp3e/templates/partials/item-trapping-row.hbs trapping=trapping}}
				{{#unless @last}}<hr />{{/unless}}
			{{/each}}
		</div>
	{{/if}}

	{{#if items.money}}
		<div class="money table">
			<div class="money table-header title">{{localize "CHARACTER.Money"}}</div>
	
			<div class="money table-header">
				<span class="money-name">{{localize "TRAPPING.Name"}}</span>
				<hr />
				<span class="money-value">{{localize "MONEY.Value"}}</span>
				<hr />
				<span class="quantity">{{localize "TRAPPING.ABBREVIATION.Quantity"}}</span>
				<hr />
				<span class="encumbrance">{{localize "TRAPPING.ABBREVIATION.Encumbrance"}}</span>
				<hr />
				<span class="buttons"></span>
			</div>
	
			{{#each items.money as |money mo|}}
				{{>systems/wfrp3e/templates/partials/item-money-row.hbs money=money}}
				{{#unless @last}}<hr />{{/unless}}
			{{/each}}
		</div>
	{{/if}}
</section>