<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{>systems/wfrp3e/templates/applications/items/trapping-data.hbs}}

	<hr />

	<div class="form-group-container">
		{{formGroup fields.damageRating value=system.damageRating classes="slim" localize=true}}

		{{formGroup fields.criticalRating value=system.criticalRating classes="slim" localize=true}}

		{{formGroup fields.range value=system.range classes="extended" localize=true}}

		{{formGroup fields.group value=system.group classes="extended" localize=true}}
	</div>

	<hr />

	<div class="qualities">
		{{localize "WEAPON.FIELDS.qualities.label"}}

		<a data-action="addQuality" data-tooltip="{{localize 'WEAPON.ACTIONS.addQuality'}}">
			<span class="fas fa-plus"></span>
		</a>

		<div class="qualities-container">
			{{#each system.qualities as |quality qu|}}
				<div class="quality-container" data-index="{{@index}}">
					{{formGroup @root.fields.qualities.element.fields.name
								value=quality.name
								name=(concat @root.fields.qualities.fieldPath "." @index "." @root.fields.qualities.element.fields.name.fieldPath)
								classes="stacked"
								localize=true}}

					{{#if (in quality.name @root.qualitiesWithRating) }}
						{{formGroup @root.fields.qualities.element.fields.rating
									value=quality.rating
									name=(concat @root.fields.qualities.fieldPath "." @index "." @root.fields.qualities.element.fields.rating.fieldPath)
									classes="stacked"
									localize=true}}
					{{/if}}

					<a data-action="removeQuality" data-tooltip="{{localize 'WEAPON.ACTIONS.removeQuality'
																			quality=(localize (lookup @root.fields.qualities.element.fields.name.choices quality.name))}}">
						<span class="fas fa-trash"></span>
					</a>
				</div>
			{{/each}}
		</div>
	</div>

	<hr />

	{{formGroup fields.special
				value=system.special
				enriched=enriched.special
				toggled=true
				localize=true}}
</section>