<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{>systems/wfrp3e/templates/applications/items/partials/trapping-data.hbs}}

	<fieldset class="inline">
		{{formGroup fields.defenceValue value=system.defenceValue classes="slim" rootId=rootId}}

		{{formGroup fields.soakValue value=system.soakValue classes="slim" rootId=rootId}}
	</fieldset>
</section>