<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}" data-item-type="action">
	<nav class="search-bar">
		<div class="form-group expanded">
			<label for="{{concat rootId '-searchFilter.actions.text'}}">
				{{localize "ACTOR.SHEET.search"}}
			</label>

			<div class="form-fields">
				<input id="{{concat rootId '-searchFilter.actions.text'}}"
					   class="search-filter"
					   name="searchFilters.actions.text"
					   value="{{searchFilters.text}}"
					   type="text" />

				<a data-action="openFilters" data-tooltip="{{localize 'ACTOR.ACTIONS.openFilters'}}">
					<span class="fas fa-filter"></span>
				</a>

				<a data-action="addItem"
				   data-tooltip="{{localize 'ACTOR.ACTIONS.addItem' type=(localize "TYPES.Item.action")}}">
					<span class="fa-solid fa-plus"></span>
				</a>
			</div>
		</div>

		<div class="form-group stacked filter-container">
			<label>{{localize "ACTOR.SHEET.filters"}}</label>

			{{#each types as |type t|}}
				<div class="form-group">
					<label for="{{concat @root.rootId '-searchFilter.actions.type'}}">
						{{localize type}}
					</label>

					<div class="form-fields">
						<input id="{{concat @root.rootId '-searchFilter.actions.type'}}"
							   class="search-filter"
							   name="searchFilters.actions.type"
							   value="{{t}}"
							   type="radio"
							   {{checked (eq t @root.searchFilters.type)}} />
					</div>
				</div>
			{{/each}}
		</div>
	</nav>

	{{#if (eq source.flags.wfrp3e.embeddedItemsDisplayMode "cards")}}
		<section class="item-container">
			{{#each actions as |action act|}}
				{{>systems/wfrp3e/templates/applications/partials/action-card.hbs
						item=action
						currentStance=@root.defaultStance}}
			{{/each}}
		</section>
	{{else}}
		<section class="action table scrollable">
			<div class="table-body">
				{{#each actions as |action act|}}
					{{>systems/wfrp3e/templates/applications/sheets/actors/partials/action-row.hbs
							action=action
							currentStance=@root.defaultStance}}
				{{/each}}
			</div>
		</section>
	{{/if}}
</section>
