<section class="overflow tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	<a data-action="addActiveEffect">
		<span class="fa-solid fa-plus"></span>
		{{localize "ACTOR.ACTIONS.addActiveEffect"}}
	</a>

	<div class="effect table">
		<div class="table-header">
			<div class="image"></div>

			<div class="name">
				{{localize "Name"}}
			</div>

			<div class="source">
				{{localize "Source"}}
			</div>

			<div class="duration">
				{{localize "Duration"}}
			</div>

			<div class="buttons"></div>
		</div>

		<div class="table-body">
			{{#each effects as |effect eff|}}
				<div class="active-effect row" data-uuid="{{effect.uuid}}">
					<div class="content">
						<div class="image">
							<a data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.v'}}">
								<img src="{{effect.img}}" alt="{{effect.name}}" width="40" height="40" />
							</a>
						</div>

						<div class="name">
							<a data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.editDocument'}}">
								{{effect.name}}
							</a>
						</div>

						<div class="source" data-uuid="{{effect.origin}}">
							<a data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.editDocument'}}">
								{{effect._source.name}}
							</a>
						</div>

						<div class="duration">
							{{#if effect.duration.duration}}
								{{effect.duration.duration}}
							{{else}}
								—
							{{/if}}
						</div>

						<div class="buttons">
							{{#if @root.editable}}
								<a data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.editDocument'}}">
									<span class="fas fa-pen-to-square"></span>
								</a>

								<a data-action="deleteDocument" data-tooltip="{{localize 'Delete'}}">
									<span class="fas fa-trash"></span>
								</a>
							{{/if}}
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>

	<section class="item-container">
		{{#each items as |item i|}}
			{{>(concat "systems/wfrp3e/templates/applications/partials/" item.type "-card.hbs") item=item}}
		{{/each}}
	</section>
</section>