<section class="tab scrollable {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	<section class="weapon table" data-item-type="weapon">
		<div class="table-header title">
			<span>{{localize "WEAPON.plural"}}</span>

			<a data-action="addItem"
			   data-tooltip="{{localize 'ACTOR.ACTIONS.addItem' type=(localize "TYPES.Item.weapon")}}">
				<span class="fa-solid fa-plus"></span>
			</a>
		</div>

		{{#if weapons}}
			<div class="table-header">
				<div class="image"></div>

				<div class="name">
					<span>{{localize "TRAPPING.FIELDS.name.label"}}</span>
				</div>

				<hr />

				<div class="damage-rating">
					<span>{{localize "WEAPON.FIELDS.damageRating.abbreviation"}}</span>
				</div>

				<hr />

				<div class="critical-rating">
					<span>{{localize "WEAPON.FIELDS.criticalRating.abbreviation"}}</span>
				</div>

				<hr />

				<div class="range">
					<span>{{localize "WEAPON.FIELDS.range.label"}}</span>
				</div>

				<hr />

				<div class="qualities">
					<span>{{localize "WEAPON.FIELDS.qualities.label"}}</span>
				</div>

				<hr />

				<div class="group">
					<span>{{localize "WEAPON.FIELDS.group.label"}}</span>
				</div>

				<hr />

				<div class="encumbrance">
					<span>{{localize "TRAPPING.FIELDS.encumbrance.abbreviation"}}</span>
				</div>

				<hr />

				<div class="buttons"></div>
			</div>

			<div class="table-body">
				{{#each weapons as |weapon wp|}}
					{{>systems/wfrp3e/templates/applications/sheets/actors/partials/weapon-row.hbs weapon=weapon}}
				{{/each}}
			</div>
		{{/if}}
	</section>

	<section class="armour table" data-item-type="armour">
		<div class="table-header title">
			{{localize "ARMOUR.plural"}}

			<a data-action="addItem"
			   data-tooltip="{{localize 'ACTOR.ACTIONS.addItem' type=(localize "TYPES.Item.armour")}}">
				<span class="fa-solid fa-plus"></span>
			</a>
		</div>

		{{#if armours}}
			<div class="table-header">
				<div class="image"></div>

				<div class="name">
					<span>{{localize "TRAPPING.FIELDS.name.label"}}</span>
				</div>

				<hr />

				<div class="defence-value">
					<span>{{localize "ARMOUR.FIELDS.defenceValue.label"}}</span>
				</div>

				<hr />

				<div class="soak-value">
					<span>{{localize "ARMOUR.FIELDS.soakValue.label"}}</span>
				</div>

				<hr />

				<div class="encumbrance">
					<span>{{localize "TRAPPING.FIELDS.encumbrance.abbreviation"}}</span>
				</div>

				<hr />

				<div class="buttons"></div>
			</div>

			<div class="table-body">
				{{#each armours as |armour arm|}}
					{{>systems/wfrp3e/templates/applications/sheets/actors/partials/armour-row.hbs armour=armour}}
				{{/each}}
			</div>
		{{/if}}
	</section>

	<section class="trapping table" data-item-type="trapping">
		<div class="table-header title">
			{{localize "TRAPPING.plural"}}

			<a data-action="addItem"
			   data-tooltip="{{localize 'ACTOR.ACTIONS.addItem' type=(localize "TYPES.Item.trapping")}}">
				<span class="fa-solid fa-plus"></span>
			</a>
		</div>

		{{#if trappings}}
			<div class="table-header">
				<div class="image"></div>

				<div class="name">
					<span>{{localize "TRAPPING.FIELDS.name.label"}}</span>
				</div>

				<hr />

				<div class="encumbrance">
					<span>{{localize "TRAPPING.FIELDS.encumbrance.abbreviation"}}</span>
				</div>

				<hr />

				<div class="buttons"></div>
			</div>

			<div class="table-body">
				{{#each trappings as |trapping trp|}}
					{{>systems/wfrp3e/templates/applications/sheets/actors/partials/trapping-row.hbs trapping=trapping}}
				{{/each}}
			</div>
		{{/if}}
	</section>

	<section class="money table" data-item-type="money">
		<div class="table-header title">
			{{localize "MONEY.plural"}}

			<a data-action="addItem"
			   data-tooltip="{{localize 'ACTOR.ACTIONS.addItem' type=(localize "TYPES.Item.money")}}">
				<span class="fa-solid fa-plus"></span>
			</a>
		</div>

		{{#if money}}
			<div class="money table-header">
				<div class="image"></div>

				<div class="name">
					<span>{{localize "TRAPPING.FIELDS.name.label"}}</span>
				</div>

				<hr />

				<div class="value">
					<span>{{localize "MONEY.FIELDS.value.label"}}</span>
				</div>

				<hr />

				<div class="quantity">
					<span>{{localize "TRAPPING.FIELDS.quantity.abbreviation"}}</span>
				</div>

				<hr />

				<div class="encumbrance">
					<span>{{localize "TRAPPING.FIELDS.encumbrance.abbreviation"}}</span>
				</div>

				<hr />

				<div class="buttons"></div>
			</div>

			<div class="table-body">
				{{#each money as |money mo|}}
					{{>systems/wfrp3e/templates/applications/sheets/actors/partials/money-row.hbs money=money}}
				{{/each}}
			</div>
		{{/if}}
	</section>
</section>
