<form style="overflow-y: scroll; scrollbar-width: thin;">
	<div class="dice-pool"></div>
	<div class="symbols-pool"></div>

	<p class="dice-pool-hint">
		<em>{{localize 'ROLL.Hint'}}</em>
	</p>

	<div class="dice-pool-table">
		{{#each diceIcons as |die d|}}
			<div class="pool-container">
				<img class="pool-picture special-die" src="{{die}}" width="43" height="43" alt="{{capitalize d}} die"/>
				<input class="pool-value" type="button" name="{{d}}Dice" min="0" />
				<label class="pool-text" for="{{d}}Dice">{{localize (concat (concat 'ROLL.DIE.' (capitalize d)) 'Dice')}}</label>
			</div>
		{{/each}}
	</div>

	<div class="convert-buttons">
		<button id="convert-conservative">{{localize 'ROLL.ConvertConservative'}}</button>
		<button id="convert-reckless">{{localize 'ROLL.ConvertReckless'}}</button>
	</div>

	<details>
		<summary>{{localize 'ROLL.StartingResults'}}</summary>

		<table class="symbols-pool-container">
			<tr>
				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol success"></span>
						<input class="pool-value" type="button" name="successes" min="0" />
						<label class="pool-text" for="successes">{{localize 'ROLL.SYMBOL.Successes'}}</label>
					</div>
				</td>

				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol challenge"></span>
						<input class="pool-value" type="button" name="challenges" min="0" />
						<label class="pool-text" for="challenges">{{localize 'ROLL.SYMBOL.Challenges'}}</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol boon"></span>
						<input class="pool-value" type="button" name="boons" min="0" />
						<label class="pool-text" for="boons">{{localize 'ROLL.SYMBOL.Boons'}}</label>
					</div>
				</td>

				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol bane"></span>
						<input class="pool-value" type="button" name="banes" min="0" />
						<label class="pool-text" for="banes">{{localize 'ROLL.SYMBOL.Banes'}}</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol delay"></span>
						<input class="pool-value" type="button" name="delays" min="0" />
						<label class="pool-text" for="delays">{{localize 'ROLL.SYMBOL.Delays'}}</label>
					</div>
				</td>

				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol exertion"></span>
						<input class="pool-value" type="button" name="exertions" min="0" />
						<label class="pool-text" for="exertions">{{localize 'ROLL.SYMBOL.Exertions'}}</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol sigmars-comet"></span>
						<input class="pool-value" type="button" name="sigmarsComets" min="0" />
						<label class="pool-text" for="sigmarsComets">{{localize 'ROLL.SYMBOL.SigmarsComets'}}</label>
					</div>
				</td>

				<td>
					<div class="pool-container">
						<span class="wfrp3e-font symbol chaos-star"></span>
						<input class="pool-value" type="button" name="chaosStars" min="0" />
						<label class="pool-text" for="chaosStars">{{localize 'ROLL.SYMBOL.ChaosStars'}}</label>
					</div>
				</td>
			</tr>
		</table>
	</details>

	<details>
		<summary>{{localize 'ROLL.Options'}}</summary>

		<div class="dice-pool-roll-options">
			{{#if (or (eq isGM true) (eq canUserAddAudio true)) }}
			<div class="flexrow">
				<button id="add-sound" class="extend-button"><i class="fas fa-volume-up"></i></button>
				<select class="sound-selection hide">
					<option></option>
					{{#each sounds}} <option value="{{this.path}}" {{#if this.selected}}selected{{/if}}>{{this.name}} {{/each}}
				</select>
			</div>
			{{/if}}

			<div class="flexrow">
				<button id="add-flavor" class="extend-button"><i class="far fa-comment-dots"></i></button>
				<input class="flavor-text hide" placeholder="Flavor Text" value="{{flavor}}" type="text" />
			</div>

			{{#if isGM}}
			<div class="flexrow">
				<button id="send-to-player" class="extend-button"><i class="fas fa-share"></i></button>
				<select class="user-selection hide">
					<option></option>
					{{#each users}}
					<option value="{{this.id}}">{{this.name}}</option>
					{{/each}}
				</select>
			</div>
			{{/if}}
		</div>
	</details>

	<div class="roll-button flexrow">
		<button class="btn">{{localize 'ROLL.RollCheck'}}</button>
	</div>
</form>