<form>
	<div class="main-options">
		<div class="dice-pool"></div>
		<div class="symbols-pool"></div>

		<p class="dice-pool-hint">
			<em>{{localize "ROLL.DICEPOOLBUILDER.Hint"}}</em>
		</p>

		<div class="dice-pool-table">
			{{#each diceIcons as |die d|}}
				<label class="pool-container">
					<img class="pool-picture special-die" src="{{die}}" width="43" height="43" alt="{{capitalize d}} die"/>
					<input class="pool-value" name="dice.{{d}}" type="number" min="0" value="{{lookup ../object.dice d}}"/>
					<div class="pool-text">{{localize (concat (concat "ROLL.DIE." (capitalize d)) "Dice")}}</div>
				</label>
			{{/each}}
		</div>

		<div class="convert-buttons">
			<button class="convert-conservative">{{localize "ROLL.DICEPOOLBUILDER.ConvertConservative"}}</button>
			<button class="convert-reckless">{{localize "ROLL.DICEPOOLBUILDER.ConvertReckless"}}</button>
		</div>
		{{#if attributes}}
			<div class="attributes">
				{{#each attributes as |attribute attr|}}
					<label class="attribute-dice">
						<input class="pool-value"
						       name="creatureDice.{{attr}}"
						       value="{{lookup ../object.creatureDice attr}}"
						       type="number"
						       min="0"
						       max="{{attribute.budget}}" />
						<div>{{localize (concat (concat "ROLL.DICEPOOLBUILDER." (capitalize attr)) "Dice")}}</div>
					</label>
				{{/each}}
			</div>
		{{/if}}
	
		<details>
			<summary>{{localize "ROLL.DICEPOOLBUILDER.StartingResults"}}</summary>
	
			<table class="symbols-pool-container">
				<tr>
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol success"></span>
							<input class="pool-value"
							       name="symbols.successes"
							       value="{{object.symbols.successes}}"
							       type="number"
							       min="0" />
							<div class="pool-text">{{localize "ROLL.SYMBOL.Successes"}}</div>
						</label>
					</td>
	
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol challenge"></span>
							<input class="pool-value"
							       name="symbols.challenges"
							       value="{{object.symbols.challenges}}"
							       type="number"
							       min="0" />
							<div class="pool-text">{{localize "ROLL.SYMBOL.Challenges"}}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol boon"></span>
							<input class="pool-value"
							       name="symbols.boons"
							       value="{{object.symbols.boons}}"
							       type="number"
							       min="0" />
							<div class="pool-text">{{localize "ROLL.SYMBOL.Boons"}}</div>
						</label>
					</td>
	
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol bane"></span>
							<input class="pool-value"
							       name="symbols.banes"
							       value="{{object.symbols.banes}}"
							       type="number"
							       min="0" />
							<div class="pool-text">{{localize "ROLL.SYMBOL.Banes"}}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol delay"></span>
							<input class="pool-value"
							       name="symbols.delays"
							       value="{{object.symbols.delays}}"
							       type="number"
							       min="0" />
							<label class="pool-text">{{localize "ROLL.SYMBOL.Delays"}}</label>
						</label>
					</td>
	
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol exertion"></span>
							<input class="pool-value"
							       name="symbols.exertions"
							       value="{{object.symbols.exertions}}"
							       type="number"
							       min="0" />
							<div class="pool-text">{{localize "ROLL.SYMBOL.Exertions"}}</div>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol sigmars-comet"></span>
							<input class="pool-value"
							       name="symbols.sigmarsComets"
							       value="{{object.symbols.sigmarsComets}}"
							       type="number"
							       min="0" />
							<div class="pool-text">{{localize "ROLL.SYMBOL.SigmarsComets"}}</div>
						</label>
					</td>
	
					<td>
						<label class="pool-container">
							<span class="wfrp3e-font symbol chaos-star"></span>
							<input class="pool-value"
							       name="symbols.chaosStars"
							       value="{{object.symbols.chaosStars}}"
							       type="number"
							       min="0" />
							<div class="pool-text">{{localize "ROLL.SYMBOL.ChaosStars"}}</div>
						</label>
					</td>
				</tr>
			</table>
		</details>
	
		<details>
			<summary>{{localize "ROLL.DICEPOOLBUILDER.Options"}}</summary>
	
			<div class="dice-pool-roll-options">
				{{#if (or (eq isGM true) (eq canUserAddAudio true)) }}
				<label class="flexrow">
					<button id="add-sound" class="extend-button">
						<span class="fas fa-volume-up"></span>
					</button>

					<select class="sound-selection hide" name="sound">
						<option></option>
						{{#each sounds}}
							<option value="{{this.path}}" {{#if this.selected}}selected{{/if}}>{{this.name}}
						{{/each}}
					</select>
				</label>
				{{/if}}
	
				<label class="flexrow">
					<button id="add-flavor" class="extend-button"><i class="far fa-comment-dots"></i></button>
					<input class="flavor-text hide" name="flavour" value="{{flavor}}" type="text" placeholder="Flavor Text" />
				</label>
	
				{{#if isGM}}
				<label class="flexrow">
					<button id="send-to-player" class="extend-button">
						<span class="fas fa-share"></span>
					</button>

					<select class="user-selection hide">
						<option></option>
						{{#each users}}
							<option value="{{this.id}}">{{this.name}}</option>
						{{/each}}
					</select>
				</label>
				{{/if}}
			</div>
		</details>
	
		<div class="roll-button flexrow">
			<button class="roll-check-button">{{localize "ROLL.DICEPOOLBUILDER.RollCheck"}}</button>
		</div>
	</div>

	{{#if actor}}
		<div class="quick-settings">
			<label>
				{{localize "ROLL.DICEPOOLBUILDER.Skill"}}

				<select class="skill-select" name="skill">
                    <option value=""></option>
					{{selectOptions @root.skills selected=@root.skill._id nameAttr="_id" labelAttr="name"}}
				</select>
			</label>

			<label>
				{{localize "ROLL.DICEPOOLBUILDER.Characteristic"}}

				<select class="characteristic-select" name="characteristic">
					{{selectOptions @root.characteristics selected=@root.characteristic.name localize=true}}
				</select>
			</label>

			<label>
				{{localize "ROLL.DICEPOOLBUILDER.ChallengeLevel"}}

				<select class="challenge-level-select" name="challengeLevel">
					{{selectOptions @root.challengeLevels selected=@root.challengeLevel labelAttr="name" localize=true}}
				</select>
			</label>

			<label>
				{{localize "ROLL.DICEPOOLBUILDER.FortunePoints"}}

				<input class="pool-value" name="fortunePoints" type="number" min="0" max="{{maxFortunePoints}}" />
			</label>

			{{#if availableWeapons}}
				<label>
					{{localize "ROLL.DICEPOOLBUILDER.Weapon"}}

					<select class="weapon-select" name="weapon">
						{{selectOptions @root.availableWeapons selected=@root.weapon._id nameAttr="_id" labelAttr="name"}}
					</select>
				</label>
			{{/if}}

            <div class="specialisations">
                {{localize "ROLL.DICEPOOLBUILDER.Specialisations"}}

                {{#if specialisations}}
                    {{#each specialisations}}
                        <label>
                            {{this}}

                            <input class="pool-value" name="specialisations" type="checkbox" value="{{this}}" />
                        </label>
                    {{/each}}
                {{else}}
                    None
                {{/if}}
            </div>
		</div>
	{{/if}}
</form>