<form>
	<h1>{{localize "TRAININGSELECTOR.ChooseATraining"}}</h1>

	<table>
		<thead>
			<tr>
				<th class="left-aligned skill-acquired">{{localize "TRAININGSELECTOR.Acquired"}}</th>
				<th class="center-aligned skill-characteristic">{{localize "TRAININGSELECTOR.Characteristic"}}</th>
				<th class="center-aligned skill-training-level">{{localize "TRAININGSELECTOR.TrainingLevel"}}</th>
				<th class="left-aligned skill-specialisations">{{localize "TRAININGSELECTOR.Specialisations"}}</th>
			</tr>
		</thead>

		<tbody>
			{{#each careerSkills}}
				<tr data-skill-id="{{this._id}}">
					<td class="left-aligned skill-acquired">
						<label>
							<input name="system.acquisition" type="checkbox"
								{{#unless this.system.advanced}}
									checked disabled
								{{else}}
									{{#if this.parent}}
										checked disabled
									{{/if}}
								{{/unless}} />
							{{this.name}}
						</label>
					</td>

					<td class="center-aligned shrinked skill-characteristic">
						{{localize (lookup (lookup @root.characteristics this.system.characteristic) "name")}}
					</td>

					<td class="center-aligned skill-training-level">
						{{#for 1 4 1}}
							<label>
								<input name="system.trainingLevel"
								       value="{{this}}"
								       type="checkbox"
									{{#if ../this.parent}}
										{{#if (superiorOrEqualTo ../this.parent.system.rank this)}}
											{{#if (superiorOrEqualTo ../this.system.trainingLevel this)}}
												checked disabled
											{{else}}
												{{#unless (equalTo (increment ../this.system.trainingLevel 1) this)}}
													disabled
												{{/unless}}
											{{/if}}
										{{else}}
											disabled
										{{/if}}
									{{else}}
										disabled
									{{/if}} />
							</label>
						{{/for}}
					</td>

					<td class="left-aligned skill-specialisations">
						<label>
							<input name="system.specialisations"
							       value="{{this.system.specialisations}}"
							       type="text"
                                {{#if @root.nonCareer}}
                                    disabled
                                {{else}}
                                    {{#unless (superiorTo this.system.trainingLevel 0)}}
                                        disabled
                                    {{/unless}}
                                {{/if}} />
						</label>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<p>
		{{localize "TRAININGSELECTOR.SelectedTraining"}}
		<span class="selection">{{localize "TRAININGSELECTOR.NoTrainingSelected"}}</span>
	</p>

	<button class="submit">{{localize "Finish"}}</button>
</form>