<section>
	<div class="dice-pool">
		{{#each dice as |die d|}}
			{{#if (superiorTo (lookup @root.dicePool.dice d) 0)}}
				{{#for 0 (lookup @root.dicePool.dice d) 1}}
					<img class="special-die {{d}}" src="{{die.icon}}" width="{{@root.width}}" height="{{@root.height}}" />
				{{/for}}
			{{/if}}
		{{/each}}
	</div>

	<div class="symbols-pool">
		{{#each dice as |symbol sym|}}
			{{#if (superiorTo (lookup @root.dicePool.symbols sym) 0)}}
				{{#for 0 (lookup @root.dicePool.symbols sym) 1}}
					<span class="wfrp3e-font symbol {{symbol.cssClass}}"></span>
				{{/for}}
			{{/if}}
		{{/each}}
	</div>
</section>