<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{#if actor}}
		{{#if skills}}
			<div class="form-group">
				<label>{{localize "CHECKBUILDER.FIELDS.skill"}}</label>

				<div class="form-fields">
					<select class="skill-select" name="checkData.skill">
						<option value=""{{#unless skill}} selected{{/unless}}></option>
						{{selectOptions skills selected=skill.uuid valueAttr="uuid" labelAttr="name"}}
					</select>
				</div>
			</div>
		{{/if}}

		<div class="form-group">
			<label>{{localize "CHECKBUILDER.FIELDS.characteristic"}}</label>

			<div class="form-fields">
				<select class="characteristic-select" name="checkData.characteristic">
					{{selectOptions characteristics selected=characteristic localize=true}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label>{{localize "CHECKBUILDER.FIELDS.challengeLevel"}}</label>

			<div class="form-fields">
				<select class="challenge-level-select" name="checkData.challengeLevel">
					{{selectOptions challengeLevels selected=challengeLevel labelAttr="name" localize=true}}
				</select>
			</div>
		</div>

		{{#if maxFortunePoints}}
			<div class="form-group">
				<label>{{localize "CHECKBUILDER.FIELDS.fortunePoints"}}</label>

				<div class="form-fields">
					<input class="pool-value"
						   name="checkData.fortunePoints"
						   type="number"
						   min="0"
						   max="{{maxFortunePoints}}"
						   value="{{fortunePoints}}" />
				</div>
			</div>
		{{/if}}

		{{#if availableWeapons}}
			<div class="form-group">
				<label>{{localize "CHECKBUILDER.FIELDS.weapon"}}</label>

				<div class="form-fields">
					<select class="weapon-select" name="checkData.weapon">
						{{selectOptions availableWeapons
										selected=weapon.uuid
										valueAttr="uuid"
										labelAttr="name"
										localize=true}}
					</select>
				</div>
			</div>
		{{/if}}

		{{#if (equalTo actor.type "character")}}
			<fieldset class="specialisations">
				<legend>{{localize "CHECKBUILDER.FIELDS.specialisations"}}</legend>

				{{#if availableSpecialisations}}
					<multi-select name="checkData.specialisations">
						{{#each availableSpecialisations as |specialisation|}}
							<option value="{{specialisation}}"
									{{#if (in specialisation @root.specialisations)}}selected{{/if}}>
								{{specialisation}}
							</option>
						{{/each}}
					</multi-select>
				{{else}}
					None
				{{/if}}
			</fieldset>

			<fieldset class="available-triggered-items">
				<legend>{{localize "CHECKBUILDER.FIELDS.triggeredItems"}}</legend>

				{{#if availableTriggeredItems}}
					{{#each availableTriggeredItems as |item itm|}}
						<div data-tooltip="{{item.system.description}}">
							<label>{{item.name}}</label>

							<input class="pool-value"
								   name="checkData.triggeredItems"
								   type="checkbox"
								   value="{{item.uuid}}"
								   {{#if (in item.uuid @root.triggeredItems)}}checked{{/if}} />
						</div>
					{{/each}}
				{{else}}
					None
				{{/if}}
			</fieldset>
		{{/if}}

		{{#if attributes}}
			<div class="form-group extended">
				{{localize "CHECKBUILDER.FIELDS.attributes"}}

				<div class="form-fields">
					{{#each attributes as |attribute attr|}}
						<div>
							<label>{{localize (concat "CHECKBUILDER.FIELDS." attr "Dice")}}</label>

							<input class="pool-value"
								   name="checkData.creatureDice.{{attr}}"
								   value="{{lookup @root.dicePool.creatureDice attr}}"
								   type="number"
								   min="0"
								   max="{{attribute.budget}}" />
						</div>
					{{/each}}
				</div>
			</div>
		{{/if}}
	{{/if}}
</section>