<section class="overflow">
	<div class="form-group stacked">
		<label for="{{concat rootId '-origin'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.origin.label"}}
		</label>

		 <p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.origin.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-origin'}}" name="origin" value="{{origin}}">
				{{{origin}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-family'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.family.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.family.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-family'}}" name="family" value="{{family}}">
				{{{family}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-socialClass'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.socialClass.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.socialClass.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-socialClass'}}" name="socialClass" value="{{socialClass}}">
				{{{socialClass}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-past'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.past.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.past.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-past'}}" name="past" value="{{past}}">
				{{{past}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-adventure'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.adventure.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.adventure.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-adventure'}}" name="adventure" value="{{adventure}}">
				{{{adventure}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-piety'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.piety.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.piety.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-piety'}}" name="piety" value="{{piety}}">
				{{{piety}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-friendsFoes'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.friendsFoes.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.friendsFoes.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-friendsFoes'}}" name="friendsFoes" value="{{friendsFoes}}">
				{{{friendsFoes}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-posessions'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.posessions.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.possessions.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-posessions'}}" name="posessions" value="{{posessions}}">
				{{{posessions}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-loyalty'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.loyalty.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.loyalty.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-loyalty'}}" name="loyalty" value="{{loyalty}}">
				{{{loyalty}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-loveHate'}}">
			{{localize "GAMEOFTENQUESTIONS.FIELDS.loveHate.label"}}
		</label>

		<p class="hint">{{localize "GAMEOFTENQUESTIONS.FIELDS.loveHate.label"}}</p>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-loveHate'}}" name="loveHate" value="{{loveHate}}">
				{{{loveHate}}}
			</prose-mirror>
		</div>
	</div>
</section>