<p>
	{{localize (concat (uppercase selectorType) ".selected" (capitalize itemType))}}

	<span class="selection">
		{{#if selectedItems.length}}
			{{#each selectedItems as |item i|}}
				{{localize item.name}}{{#unless @last}}, {{/unless}}
			{{/each}}
		{{else}}
			{{localize "SELECTOR.noSelection"}}
		{{/if}}

		{{#if count}}
			({{count}}/{{size}})
		{{/if}}
	</span>
</p>