<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{log fields}}
	{{formGroup fields.action value=system.action}}

	{{formGroup fields.talent value=system.talent}}

	{{formGroup fields.skill value=system.skill}}

	{{formGroup fields.fortune value=system.fortune}}

	{{formGroup fields.conservative value=system.conservative}}

	{{formGroup fields.reckless value=system.reckless}}

	{{formGroup fields.wound value=system.wound}}
</section>