<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.advanced value=system.advanced}}

	<div class="form-group">
		<label>
			<span>{{localize "CAREER.FIELDS.raceRestrictions.label"}}</span>

			<a data-action="removeRaceRestriction">
				<span class="fas fa-minus"></span>
			</a>

			<a data-action="addRaceRestriction">
				<span class="fas fa-plus"></span>
			</a>
		</label>

		{{#each system.raceRestrictions}}
			<select name="system.raceRestrictions">
				{{selectOptions @root.fields.raceRestrictions.element.options.choices
								selected=this
								labelAttr="name"
								localize=true}}
			</select>
		{{/each}}
	</div>

	{{formGroup fields.traits value=system.traits}}

	<div class="form-group">
		<label>
			<span>{{localize "CAREER.FIELDS.sockets.label"}}</span>

			<a data-action="removeSocket">
				<span class="fas fa-minus"></span>
			</a>

			<a data-action="addSocket">
				<span class="fas fa-plus"></span>
			</a>
		</label>

		{{#each system.sockets}}
			<select name="system.sockets.{{@key}}.type">
				{{selectOptions @root.fields.sockets.element.fields.type.options.choices
								selected=this.type
								localize=true}}
			</select>
		{{/each}}
	</div>

	<div class="form-group">
		<label>{{localize "CAREER.FIELDS.primaryCharacteristics.label"}}</label>

		{{#each system.primaryCharacteristics}}
			<select name="system.primaryCharacteristics">
				{{selectOptions @root.fields.primaryCharacteristics.element.options.choices
								selected=this
								labelAttr="name"
								localize=true}}
			</select>
		{{/each}}
	</div>

	{{formGroup fields.careerSkills value=system.careerSkills}}

	{{formGroup fields.startingStance.fields.conservativeSegments value=system.startingStance.conservativeSegments}}

	{{formGroup fields.startingStance.fields.recklessSegments value=system.startingStance.recklessSegments}}
</section>