<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	<div class="form-group slim">
		<label for="{{concat rootId '-symbol'}}">{{localize "ACTION.FIELDS.effects.symbolType.label"}}</label>

		<div class="form-fields">
			<select id="{{concat rootId '-symbol'}}" name="symbol" {{#if index}}disabled{{/if}}>
				{{selectOptions symbols selected=symbol labelAttr="name" localize=true}}
			</select>
		</div>
	</div>

	{{formGroup fields.symbolAmount name=fields.symbolAmount.name value=effect.symbolAmount classes="slim" localize=true}}

	{{formGroup fields.description name=fields.description.name value=effect.description localize=true}}
</section>
