<div class="wfrp3e dice-roll">
	{{#if publicRoll}}
		<div class="dice-result">
			{{#if hasStandardDice}}
				<div class="dice-formula">{{formula}}</div>

				<h4 class="dice-total">{{total}}</h4>
			{{/if}}

			{{#if hasSpecialDice}}
				<div class="dice-array">
					<ol class="dice-rolls">
						{{#each specialDieResultLabels}}
							<li class="roll">{{{this}}}</li>
						{{/each}}
					</ol>
				</div>
			{{/if}}

			{{{tooltip}}}

			{{#if hasSpecialDice}}
				<ul>
					{{#if resultSymbols.successes}}
						<li class="roll-success">{{localize "ROLL.OUTCOME.Successful"}}</li>
					{{else}}
						<li class="roll-failure">{{localize "ROLL.OUTCOME.Failed"}}</li>
					{{/if}}

					{{#each @root.symbols as |symbol sym|}}
						{{#with (lookup @root.resultSymbols symbol.plural)}}
							{{#if (and (superiorTo this 0) (notEqualTo sym "righteousSuccess"))}}
								<li class="roll-symbols">
									{{localize symbol.result nb=this}}

									{{#if (and (equalTo sym "success") (superiorTo @root.resultSymbols.righteousSuccesses 0))}}
										{{localize @root.symbols.righteousSuccess.result nb=@root.resultSymbols.righteousSuccesses}}
									{{/if}}

									{{#for 0 (lookup @root.remainingSymbols symbol.plural) 1}}
										<span class="wfrp3e-font symbol {{symbol.cssClass}}"></span>
									{{/for}}
								</li>
							{{/if}}
						{{/with}}
					{{/each}}
				</ul>

				{{#if effects}}
					{{>systems/wfrp3e/templates/partials/action-effects.hbs
							action=action
							face=face
							symbols=symbols
							effects=effects}}
				{{/if}}
			{{/if}}
		</div>
	{{/if}}
</div>
