<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.value value=system.value rootId=rootId}}

	{{formGroup fields.quantity value=system.quantity rootId=rootId}}

	{{formGroup fields.description value=system.description rootId=rootId}}
</section>