<section class="overflow">
	<div class="form-group stacked">
		<label for="{{concat rootId '-appearance'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.appearance.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-appearance'}}" name="appearance" value="{{appearance}}">
				{{{appearance}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-birthplace'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.birthplace.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-birthplace'}}" name="birthplace" value="{{birthplace}}">
				{{{birthplace}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-family'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.family.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-family'}}" name="family" value="{{family}}">
				{{{family}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-career'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.career.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-career'}}" name="career" value="{{career}}">
				{{{career}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-event'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.event.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-event'}}" name="event" value="{{event}}">
				{{{event}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-morality'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.morality.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-morality'}}" name="morality" value="{{morality}}">
				{{{morality}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-worship'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.worship.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-worship'}}" name="worship" value="{{worship}}">
				{{{worship}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-flaw'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.flaw.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-flaw'}}" name="flaw" value="{{flaw}}">
				{{{flaw}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-fear'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.fear.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-fear'}}" name="fear" value="{{fear}}">
				{{{fear}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-enemy'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.enemy.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-enemy'}}" name="enemy" value="{{enemy}}">
				{{{enemy}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-factions'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.factions.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-factions'}}" name="factions" value="{{factions}}">
				{{{factions}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-ability'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.ability.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-ability'}}" name="ability" value="{{ability}}">
				{{{ability}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-motivation'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.motivation.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-motivation'}}" name="motivation" value="{{motivation}}">
				{{{motivation}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-prejudice'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.prejudice.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-prejudice'}}" name="prejudice" value="{{prejudice}}">
				{{{prejudice}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-ambition'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.ambition.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-ambition'}}" name="ambition" value="{{ambition}}">
				{{{ambition}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-regret'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.regret.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-regret'}}" name="regret" value="{{regret}}">
				{{{regret}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-secret'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.secret.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-secret'}}" name="secret" value="{{secret}}">
				{{{secret}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-voice'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.voice.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-voice'}}" name="voice" value="{{voice}}">
				{{{voice}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-companions'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.companions.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-companions'}}" name="companions" value="{{companions}}">
				{{{companions}}}
			</prose-mirror>
		</div>
	</div>

	<div class="form-group stacked">
		<label for="{{concat rootId '-relax'}}">
			{{localize "GAMEOFTWENTYQUESTIONS.FIELDS.relax.label"}}
		</label>

		<div class="form-fields">
			<prose-mirror id="{{concat rootId '-relax'}}" name="relax" value="{{relax}}">
				{{{relax}}}
			</prose-mirror>
		</div>
	</div>
</section>