<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.action value=system.action classes="slim"}}

	{{formGroup fields.talent value=system.talent classes="slim"}}

	{{formGroup fields.skill value=system.skill classes="slim"}}

	{{formGroup fields.fortune value=system.fortune classes="slim"}}

	{{formGroup fields.conservative value=system.conservative classes="slim"}}

	{{formGroup fields.reckless value=system.reckless classes="slim"}}

	{{formGroup fields.wound value=system.wound classes="slim"}}
</section>