<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.summary value=system.summary classes="expanded"}}

	{{formGroup fields.description value=system.description rootId=rootId}}
</section>