<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.tint value=document.tint localize=true}}

	{{formGroup fields.description
				value=document.description
				enriched=enrichedDescription
				toggled=true
				classes="stacked"
				localize=true}}

	{{formGroup fields.disabled value=document.disabled localize=true}}

	{{#if isActorEffect}}
		{{formGroup fields.origin value=document.origin disabled=true localize=true}}
	{{/if}}

	{{#if isItemEffect}}
		<div class="form-group">
			<label>{{ labels.transfer.name }}</label>

			<div class="form-fields">
				{{formInput fields.transfer value=document.transfer localize=true}}
			</div>

			<p class="hint">{{ labels.transfer.hint }}</p>
		</div>
	{{/if}}

	<div class="form-group">
		<label>Status Conditions</label>

		<div class="form-fields">
			<multi-select name="statuses">
				{{#each statuses as |status|}}
					<option value="{{status.id}}" {{status.selected}}>{{status.label}}</option>
				{{/each}}
			</multi-select>
		</div>
	</div>
</section>