<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	<header class="effect-change effects-header flexrow">
		<div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
		<div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
		<div class="value">{{ localize "EFFECT.ChangeValue" }}</div>

		<div class="effect-controls">
			<a class="effect-control" data-action="addEffectChange">
				<span class="far fa-plus-square"></span>
			</a>
		</div>
	</header>

	<ol class="changes-list">
		{{#each document.changes as |change i|}}
			<li class="effect-change flexrow" data-index="{{i}}">
				<div class="key">
					<input type="text" name="changes.{{i}}.key" value="{{change.key}}"/>
				</div>

				<div class="mode">
					<select name="changes.{{i}}.mode">
						{{selectOptions @root.modes selected=change.mode}}
					</select>
				</div>

				<div class="value">
					<input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
				</div>

				<div class="effect-controls">
					<a class="effect-control" data-action="deleteEffectChange">
						<span class="fas fa-trash"></span>
					</a>
				</div>
			</li>
		{{/each}}
	</ol>
</section>