<div class="item action row" data-uuid="{{action.uuid}}">
	{{#each @root.stances as |stance st|}}
		{{#with (lookup ../action.system st) as |face|}}
			<div class="content face {{st}}{{#if (equalTo ../../currentStance st)}} active{{/if}}" data-face="{{st}}">
				<div class="image">
					<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
						<img class="type" src="{{../../action.img}}" width="40" height="40" />
					</a>
				</div>

				<div class="name">
					<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
						<span>{{face.name}}</span>
					</a>

					{{#if @root.editable}}
						<a data-action="rollItem" data-tooltip="{{localize 'ACTOR.ACTIONS.rollActionCheck'}}">
							<span class="fas fa-dice-d20"></span>
						</a>
					{{/if}}
				</div>

				<div class="traits">
					<span><strong>{{face.traits}}</strong></span>
				</div>

				<div class="recharge-rating">
					<span><strong>{{localize "ACTION.FIELDS.rechargeRating.label"}}&nbsp;:</strong></span>
					<span><strong>{{face.rechargeRating}}</strong></span>
				</div>

				<div class="difficulty-modifiers">
					<span><strong>{{localize "ACTION.FIELDS.difficultyModifiers.abbreviation"}}&nbsp;:</strong></span>

					{{#if (and (superiorTo face.difficultyModifier.challengeDice 0)
							   (superiorTo face.difficultyModifier.misfortuneDice 0))}}
						{{#for 0 face.difficultyModifiers.challengeDice 1}}
							<span class="wfrp3e-font dice challenge"></span>
						{{/for}}

						{{#for 0 face.difficultyModifiers.misfortuneDice 1}}
							<span class="wfrp3e-font dice misfortune"></span>
						{{/for}}
					{{else}}
						<span><strong>{{localize "None"}}</strong></span>
					{{/if}}
				</div>

				<div class="buttons">
					{{#if @root.editable}}
						<a class="context-menu">
							<span class="fas fa-ellipsis-vertical"></span>
						</a>
					{{else}}
						<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
							<span class="fas fa-chevron-down"></span>
						</a>
					{{/if}}
				</div>
			</div>
		{{/with}}
	{{/each}}
</div>