<div class="characteristic {{characteristic.name}}">
	<label class="characteristic-title"
		   for="{{concat @root.rootId "-" characteristic.fields.rating.fieldPath}}">
		<a data-action="rollCharacteristicCheck"
		   data-characteristic="{{characteristic.name}}"
		   data-tooltip="{{localize 'ACTOR.ACTIONS.rollCharacteristicCheck'}}">
			{{#if (eq @root.source.type "creature")}}
				{{localize char.abbreviation}}
			{{else}}
				{{localize characteristic.label}}
			{{/if}}
		</a>
	</label>

	<div class="characteristic-container">
		{{formInput characteristic.fields.rating
					value=(getProperty @root.system characteristic.fields.rating.fieldPath)
					id=(concat @root.rootId "-" characteristic.fields.rating.fieldPath)}}

		{{formInput characteristic.fields.fortune
					value=(getProperty @root.system characteristic.fields.fortune.fieldPath)
					id=(concat @root.rootId "-" characteristic.fields.fortune.fieldPath)}}
	</div>
</div>
