<div class="form-group slim stacked attribute {{attribute.name}}">
	<label class="attribute-title"
		   for="{{concat @root.rootId "-" attribute.fields.value.fieldPath}}">
		{{localize attribute.label}}
	</label>

	<div class="form-fields">
		{{formInput attribute.fields.value
					value=(getProperty @root.document attribute.fields.value.fieldPath)
					id=(concat @root.rootId "-" attribute.fields.value.fieldPath)}}

		<span>/</span>

		{{formInput attribute.fields.max
					value=(getProperty @root.document attribute.fields.max.fieldPath)
					id=(concat @root.rootId "-" attribute.fields.max.fieldPath)}}
	</div>
</div>
