<div class="impairment {{impairment.name}}">
	<h2 class="sheet-title">
		{{impairment.label}}
	</h2>

	<a class="token"
	   data-action="adjustImpairment"
	   data-impairment="{{impairment.name}}"
	   data-tooltip="{{localize (concat 'ACTOR.FIELDS.impairments.' impairment.name '.tokens')}}">
		<img src="{{token}}" alt="{{localize (concat 'ACTOR.FIELDS.impairments.' impairment.name '.tokens')}}" />

		<span class="token-counter">
			{{getProperty @root.document impairment.fieldPath}}
		</span>
	</a>
</div>
