<div class="item money row" data-uuid="{{money.uuid}}">
	<div class="content">
		<div class="image">
			<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
				<img class="type" src="{{money.img}}" alt="{{money.name}}" width="40" height="40" />
			</a>
		</div>

		<div class="name">
			<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
				<span>{{money.name}}</span>
			</a>
		</div>

		<hr />

		<div class="value">
			<span>{{money.system.value}}</span>
		</div>

		<hr />

		<div class="quantity">
			<span>{{money.system.quantity}}</span>
		</div>

		<hr />

		<div class="encumbrance">
			<span>—</span>
		</div>

		<hr />

		<div class="buttons">
			{{#if @root.editable}}
				<a class="context-menu">
					<span class="fas fa-ellipsis-vertical"></span>
				</a>
			{{else}}
				<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
					<span class="fas fa-chevron-down"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>