<div class="rating {{rating.name}}">
	<label for="{{concat rootId "-" rating.fieldPath}}">
		<img src={{icon}}
			 data-tooltip="{{localize rating.label}}"
			 alt="{{localize (concat 'CREATURE.FIELDS.' rating.name '.abbreviation')}}" />
	</label>

	{{formInput rating value=(getProperty document rating.fieldPath) id=(concat rootId "-" rating.fieldPath)}}
</div>
