<div class="draggable skill item row" data-item-id="{{skill._id}}">
	<div class="content">
		<div class="name">
			<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
				<span>{{skill.name}}</span>
			</a>

			{{#if @root.editable}}
				<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
					<span class="fas fa-dice-d20"></span>
				</a>
			{{/if}}
		</div>

		<div class="characteristic">
			<span>{{localize (lookup (lookup @root.characteristics skill.system.characteristic) "abbreviation")}}</span>
		</div>

		<div class="training-level">
			<input name="system.trainingLevel"
				   value="1"
				   type="checkbox"
				   {{checked (gte skill.system.trainingLevel 1)}}
				   {{#unless @root.editable}}disabled{{/unless}} />

			<input name="system.trainingLevel"
				   value="2"
				   type="checkbox"
				   {{checked (gte skill.system.trainingLevel 2)}}
				   {{#unless @root.editable}}disabled{{/unless}} />

			<input name="system.trainingLevel"
				   value="3"
				   type="checkbox"
				   {{checked (gte skill.system.trainingLevel 3)}}
				   {{#unless @root.editable}}disabled{{/unless}} />
		</div>

		<div class="buttons">
			{{#if @root.editable}}
				<a class="context-menu">
					<span class="fas fa-ellipsis-vertical"></span>
				</a>
			{{else}}
				<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
					<span class="fas fa-chevron-down"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>
