<div class="item trapping row" data-uuid="{{trapping.uuid}}">
	<div class="content">
		<div class="image">
			<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
				<img class="type" src="{{trapping.img}}" alt="{{trapping.name}}" width="40" height="40" />
			</a>
		</div>

		<div class="name">
			<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
				<span>{{trapping.name}}</span>
			</a>
		</div>

		<hr />

		<div class="encumbrance">
			<span>{{trapping.system.encumbrance}}</span>
		</div>

		<hr />

		<div class="buttons">
			{{#if @root.editable}}
				<a class="context-menu">
					<span class="fas fa-ellipsis-vertical"></span>
				</a>
			{{else}}
				<a data-action="toggleItemDetails" data-tooltip="{{localize 'Expand'}}">
					<span class="fas fa-chevron-down"></span>
				</a>
			{{/if}}
		</div>
	</div>
</div>