<section class="tab scrollable {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.description value=system.description rootId=rootId toggled=true enriched=enriched.description}}
</section>