<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.traits value=system.traits localize=true}}

	{{formGroup fields.symptom value=system.symptom localize=true}}

	{{formGroup fields.severityRating value=system.severityRating localize=true}}

	{{formGroup fields.description
				value=system.description
				enriched=enriched.description
				toggled=true
				localize=true}}
</section>