<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.severityRating value=system.severityRating localize=true}}

	{{formGroup fields.description value=system.description localize=true}}
</section>