<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{>systems/wfrp3e/templates/applications/items/trapping-data.hbs}}

	<hr />

	<div class="form-group-container">
		{{formGroup fields.defenceValue value=system.defenceValue classes="slim" localize=true}}

		{{formGroup fields.soakValue value=system.soakValue classes="slim" localize=true}}
	</div>
</section>