<div class="item mutation card" data-uuid="{{mutation.uuid}}">
	<div class="header">
		{{#if @root.editable}}
			<a class="name" data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.editDocument'}}">
				{{mutation.name}}
			</a>
		{{else}}
			<span>{{mutation.name}}</span>
		{{/if}}

		<div class="traits">
			{{mutation.system.traits}}
		</div>
	</div>

	<div class="content">
		{{{mutation.system.description}}}
	</div>

	<div class="severity-rating">
		{{mutation.system.severityRating}}
	</div>

	<div class="bottom-line">
		{{#if @root.editable}}
			<a data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.editDocument'}}">
				<span class="fas fa-pen-to-square"></span>
			</a>

			<a data-action="deleteDocument" data-tooltip="{{localize 'Delete'}}">
				<span class="fas fa-trash"></span>
			</a>
		{{/if}}
	</div>
</div>