<section>
	<div class="dice-pool">
		{{#each dice as |die d|}}
			{{#if (gt (lookup @root.diePool.dice d) 0)}}
				{{#for 0 (lookup @root.diePool.dice d) 1}}
					<img class="special-die {{d}}"
						 src="{{die.icon}}"
						 width="{{@root.width}}"
						 height="{{@root.height}}"
						 alt="{{localize die.name}}" />
				{{/for}}
			{{/if}}
		{{/each}}
	</div>

	<div class="symbols-pool">
		{{#each symbols as |symbol sym|}}
			{{#if (gt (lookup @root.diePool.symbols symbol.plural) 0)}}
				{{#for 0 (lookup @root.diePool.symbols symbol.plural) 1}}
					<span class="wfrp3e-font symbol {{symbol.cssClass}}"></span>
				{{/for}}
			{{/if}}
		{{/each}}
	</div>
</section>
