<table>
	<thead>
		<tr>
			<th class="left-aligned skill-acquired">{{localize "CHARACTERGENERATOR.Acquired"}}</th>
			<th class="center-aligned skill-characteristic">{{localize "CHARACTERGENERATOR.Characteristic"}}</th>
			<th class="center-aligned skill-training-level">{{localize "CHARACTERGENERATOR.TrainingLevel"}}</th>
			<th class="left-aligned skill-specialisations">{{localize "CHARACTERGENERATOR.Specialisations"}}</th>
		</tr>
	</thead>

	<tbody>
		{{#each careerSkills}}
			<tr data-skill-id="{{this._id}}">
				<td class="left-aligned skill-acquired">
					<label>
						<input name="{{this._id}}_acquisition" type="checkbox"
							{{#unless this.system.advanced}}
								checked disabled
							{{else}}
								{{#if (lookup (lookup @root.skills this._id) "acquired")}}
									checked disabled
								{{/if}}
							{{/unless}} />
						{{this.name}}
					</label>
				</td>
				<td class="center-aligned shrinked skill-characteristic">
					{{localize (lookup (lookup @root.characteristics this.system.characteristic) "name")}}
				</td>
				<td class="center-aligned skill-training-level">
					<input name="{{this._id}}_trainingLevel" type="checkbox" value="1"
						{{#if (superiorOrEqualTo (lookup (lookup @root.skills this._id) "trainingLevel") 1)}}
							checked disabled
						{{/if}} />
					<input name="{{this._id}}_trainingLevel" type="checkbox" value="2" disabled />
					<input name="{{this._id}}_trainingLevel" type="checkbox" value="3" disabled />
				</td>
				<td class="left-aligned skill-specialisations">
					<input name="{{this._id}}_specialisations" type="text" value="{{lookup (lookup @root.skills this._id) 'specialisations'}}"
					   {{#unless (superiorOrEqualTo (lookup (lookup @root.skills this._id) "trainingLevel") 1)}}
						   disabled
					   {{/unless}} />
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>