<div class="draggable condition item card" data-item-id="{{item._id}}">
	<div class="header">
		{{#if @root.editable}}
			<a class="name" data-action="editItem" data-tooltip="{{localize 'ACTOR.ACTIONS.editItem'}}">
				{{item.name}}
			</a>
		{{else}}
			<span>{{item.name}}</span>
		{{/if}}
	</div>

	<div class="duration">
		{{localize (lookup @root.durations item.system.duration)}}
	</div>

	<div class="description">
		{{{lookup @root.enrichment item.uuid }}}
	</div>

	<div class="bottom-line">
		{{#if @root.editable}}
			<a data-action="editItem" data-tooltip="{{localize 'ACTOR.ACTIONS.editItem'}}">
				<span class="fas fa-pen-to-square"></span>
			</a>

			<a data-action="deleteItem" data-tooltip="{{localize 'Delete'}}">
				<span class="fas fa-trash"></span>
			</a>
		{{/if}}
	</div>
</div>
