<div class="item disease card" data-uuid="{{item.uuid}}">
	{{#with (lookup @root.symptoms item.system.symptom) as |symptom|}}
		<div class="header">
			{{#if @root.editable}}
				<a class="name" data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.editDocument'}}">
					{{../item.name}}
				</a>
			{{else}}
				<span>{{../item.name}}</span>
			{{/if}}

			<div class="traits">
				{{../item.system.traits}}
			</div>
		</div>

		<div class="content">
			<blockquote class="description">
				{{{lookup @root.enrichment ../item.uuid}}}
			</blockquote>

			<p>{{{localize symptom.description}}}</p>
		</div>

		<div class="severity-rating">
			{{../item.system.severityRating}}
		</div>

		<div class="symptom">
			<strong>{{{localize symptom.name}}}</strong>
		</div>

		<div class="bottom-line">
			{{#if @root.editable}}
				<a data-action="editDocument" data-tooltip="{{localize 'ACTOR.ACTIONS.editDocument'}}">
					<span class="fas fa-pen-to-square"></span>
				</a>

				<a data-action="deleteDocument" data-tooltip="{{localize 'Delete'}}">
					<span class="fas fa-trash"></span>
				</a>
			{{/if}}
		</div>
	{{/with}}
</div>