<div class="draggable talent item card" data-item-id="{{item._id}}">
	<span class="type {{item.system.type}}">
		{{localize item.system.type}}
	</span>

	{{#if @root.editable}}
		<a class="name" data-action="editItem" data-tooltip="{{localize 'ACTOR.ACTIONS.editItem'}}">
			{{item.name}}
		</a>
	{{else}}
		<span class="name">{{item.name}}</span>
	{{/if}}

	<div class="content">
		{{{lookup @root.enrichment item.uuid }}}
	</div>

	<div class="bottom-line">
		{{#if @root.actor}}
			{{#if @root.editable}}
				<a class="recharge-token prevent-context"
				   data-action="adjustRechargeTokens"
				   data-tooltip="{{localize 'ACTOR.ACTIONS.adjustRechargeTokens'}}">
					<img src="systems/wfrp3e/assets/images/token-grey.webp"
						 alt="{{localize 'TALENT.FIELDS.rechargeTokens.label'}}" />

					<span class="recharge-token-counter">
						{{{item.system.rechargeTokens}}}
					</span>
				</a>

				{{#each item.effects as |effect|}}
					{{#if (eq effect.system.type "onTrigger")}}
						<a data-action="useItem"
						   data-effect-uuid="{{effect.uuid}}"
						   data-tooltip="{{localize 'TALENT.ACTIONS.trigger'}}" >
							{{localize "TALENT.ACTIONS.trigger"}}
						</a>
					{{/if}}
				{{/each}}

				<div>
					<a data-action="editItem" data-tooltip="{{localize 'ACTOR.ACTIONS.editItem'}}">
						<span class="fas fa-pen-to-square"></span>
					</a>

					<a data-action="deleteItem" data-tooltip="{{localize 'Delete'}}">
						<span class="fas fa-trash"></span>
					</a>
				</div>
			{{else}}
				<span class="recharge-token" data-tooltip="{{localize 'TALENT.FIELDS.rechargeTokens.label'}}">
					<img src="systems/wfrp3e/assets/images/token-grey.webp"
						 alt="{{localize 'TALENT.FIELDS.rechargeTokens.label'}}" />

					<span class="recharge-token-counter">
						{{{item.system.rechargeTokens}}}
					</span>
				</span>
			{{/if}}
		{{/if}}
	</div>
</div>
