+<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{formGroup fields.type value=system.type rootId=rootId localize=true}}

	{{#if (or (sameAs system.type "onPreCheckTrigger") (sameAs system.type "onPostCheckTrigger"))}}
		{{formGroup fields.conditionScript value=system.conditionScript rootId=rootId}}
	{{/if}}

	{{formGroup fields.script value=system.script rootId=rootId}}

	{{#if (or (sameAs system.type "onPreCheckTrigger"))}}
		{{formGroup fields.postScript value=system.postScript rootId=rootId}}
	{{/if}}
</section>